<div class="popup-info">
    <div>
        <p id="msgVez"></p>
        <!-- <div class="snippet"> -->
            <!-- <div class="stage">
                <div class="dot-typing"></div>
             </div> -->
       <!-- </div> -->

       <div class="loader"></div>
    </div>
</div>

<div class="conf-sound-effects">

    <div>
        <div class="icons-som">
            <svg *ngIf="sliderValueSound !== 0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
                (click)="updateValueSound(0)">
                <path
                    d="M11.536 14.01A8.47 8.47 0 0 0 14.026 8a8.47 8.47 0 0 0-2.49-6.01l-.708.707A7.48 7.48 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303z" />
                <path
                    d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.48 5.48 0 0 1 11.025 8a5.48 5.48 0 0 1-1.61 3.89z" />
                <path
                    d="M8.707 11.182A4.5 4.5 0 0 0 10.025 8a4.5 4.5 0 0 0-1.318-3.182L8 5.525A3.5 3.5 0 0 1 9.025 8 3.5 3.5 0 0 1 8 10.475zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06" />
            </svg>

            <svg *ngIf="sliderValueSound === 0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
                (click)="updateValueSound(50)">
                <path
                    d="M6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06m7.137 2.096a.5.5 0 0 1 0 .708L12.207 8l1.647 1.646a.5.5 0 0 1-.708.708L11.5 8.707l-1.646 1.647a.5.5 0 0 1-.708-.708L10.793 8 9.146 6.354a.5.5 0 1 1 .708-.708L11.5 7.293l1.646-1.647a.5.5 0 0 1 .708 0" />
            </svg>
        </div>

        <div class="range-slider">
            <input type="range" min="0" max="100" id="soundVolumeInput" [value]="sliderValueSound"
                (input)="updateValueSound()" />
            <span class="range-value" id="spanSound">{{ sliderValueSound.toString() }}</span>
        </div>
    </div>
    <div class="conf-music">
        <div class="icons-som">
            <svg *ngIf="sliderValueMusic !== 0" xmlns="http://www.w3.org/2000/svg" (click)="updateValueMusic(0)"
                viewBox="0 -960 960 960">
                <path
                    d="M400-120q-66 0-113-47t-47-113q0-66 47-113t113-47q23 0 42.5 5.5T480-418v-422h240v160H560v400q0 66-47 113t-113 47Z" />
            </svg>

            <svg *ngIf="sliderValueMusic === 0" xmlns="http://www.w3.org/2000/svg" (click)="updateValueMusic(50)"
                viewBox="0 -960 960 960">
                <path
                    d="M792-56 56-792l56-56 736 736-56 56ZM560-514l-80-80v-246h240v160H560v166ZM400-120q-66 0-113-47t-47-113q0-66 47-113t113-47q23 0 42.5 5.5T480-418v-62l80 80v120q0 66-47 113t-113 47Z" />
            </svg>
        </div>

        <div class="range-slider">
            <input type="range" min="0" max="100" [value]="sliderValueMusic" id="musicVolumeInput"
                (input)="updateValueMusic()" />
            <span class="range-value" id="spanMusic">{{ sliderValueMusic.toString() }}</span>
        </div>

    </div>

</div>

<div class="pai-container">
    <div class="container-emoji">
        <div class="emojis">
            <img src="../../assets/images/emojis/raiva.png" alt="" (click)="fnEmoji($event)">
            <img src="../../assets/images/emojis/chorao.png" alt="" (click)="fnEmoji($event)">
            <img src="../../assets/images/emojis/triste.png" alt="" (click)="fnEmoji($event)">
            <img src="../../assets/images/emojis/morte.png" alt="" (click)="fnEmoji($event)">
            <img src="../../assets/images/emojis/risada.png" alt="" (click)="fnEmoji($event)">
            <img src="../../assets/images/emojis/surpresa.png" alt="" (click)="fnEmoji($event)">
        </div>
    </div>
    <div class="tabuleiros">
        <div class="ilhaL"></div>

        <div class="cont-tabu-infos">
            <div class="container-info-jogador oponente">
                <div class="jogador1">
                    <div class="jogador-avatar">
                        <p>{{opData?.nome}}</p>
                        <!-- pedir avatar -->
                        <img [src]="opData?.avatarBase64" alt="">
                        <!-- <img src="../../assets/images/img-home-page/pirata1.png" alt=""> -->
                    </div>
                    <div class="item-level">
                        <div class="item-level-icon">
                            <div class="chapeu">
                                <img src="../../assets/images/img-home-page/hatPirate.png" alt="Chapéu">
                                <p>{{nivelOp}}</p>
                            </div>
                        </div>

                        <div class="item-level-status">
                            <div class="status-xpOp"></div>
                            <p>{{relacaoXpOp}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <canvas class="myCanvas" #myCanvas width="411" height="411"></canvas>

                <canvas (click)="fnCanvasOponenteClick($event)" class="canvasOp" #canvasOponente width="411"
                    height="411"></canvas>
            </div>

            <div class="container-info-jogador">
                <div class="jogador1">
                    <div class="jogador-avatar">
                        <p>{{userData?.nome}}</p>
                        <img [src]="this.imgAvatarSelecionado" alt="">
                    </div>
                    <div class="item-level">
                        <div class="item-level-icon">
                            <div class="chapeu">
                                <img src="../../assets/images/img-home-page/hatPirate.png" alt="Chapéu">
                                <p>{{nivel}}</p>
                            </div>
                        </div>

                        <div class="item-level-status">
                            <div class="status-xp"></div>
                            <p>{{relacaoXp}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ilhaR">
            <div class="info-navios-op">
                <div class="n4" [class]="arrNaviosExpClass[3][0]">
                    <div class="t"></div>
                    <div class="n"></div>
                    <div class="n"></div>
                    <div class="p"></div>
                </div>
                <div class="n3">
                    <div *ngFor="let cls of arrNaviosExpClass[2]" [class]="cls">
                        <div class="t"></div>
                        <div class="n"></div>
                        <div class="p"></div>
                    </div>
                </div>
                <div class="n2">
                    <div *ngFor="let cls of arrNaviosExpClass[1]" [class]="cls">
                        <div class="t"></div>
                        <div class="p"></div>
                    </div>
                </div>
                <div class="n1">
                    <div *ngFor="let cls of arrNaviosExpClass[0]" [class]="cls">
                        <div class="u"></div>
                    </div>
                </div>
    
            </div>
        </div>


    </div>


</div>

<div class="shandow-modal" [class.active]="openShadow === true">
    <div class="bg-modal">
        <div class="modal-win" [class.active]="popup === 'win'">
            <div class="banner">
                <p>Você venceu!</p>
            </div>
            <div class="content">
                <div class="trofeu">
                    <p>+1 </p>
                    <img src="../../assets/images/img-home-page/trofeu.png" alt="">
                </div>
                <div class="ganhos">
                    <div class="moedas">
                        <div>
                            <img src="../../assets/images/img-home-page/coin.png" alt="">
                        </div>
                        <div>
                            <p>+50</p>
                        </div>
                    </div>
                    <div class="xp">
                        <div>
                            <img src="../../assets/images/img-home-page/hatPiratePartida.png" alt="">
                        </div>
                        <div>
                            <p>+100 xp</p>
                        </div>
                    </div>
                </div>
                <div class="btn">
                    <button (click)="fnFinsh()">
                        <div>Ok</div>
                    </button>

                </div>
            </div>
        </div>

        <div class="modal-loser" [class.active]="popup === 'loser'">
            <div class="banner">
                <p>Você Perdeu!</p>
            </div>
            <div class="content">
                <div class="trofeu">
                    <img src="../../assets/images/img-tela-partida/trofeu-loser.png" alt="">
                </div>
                <div class="ganhos">
                    <div class="moedas">
                        <div>
                            <img src="../../assets/images/img-home-page/coin.png" alt="">
                        </div>
                        <div>
                            <p>+10</p>
                        </div>
                    </div>
                    <div class="xp">
                        <div>
                            <img src="../../assets/images/img-home-page/hatPiratePartida.png" alt="">
                        </div>
                        <div>
                            <p>+5 xp</p>
                        </div>
                    </div>
                </div>
                <div class="btn">
                    <button (click)="fnFinsh()">
                        <div>Ok</div>
                    </button>

                </div>
            </div>
        </div>


    </div>

</div>

<div class="fundo-loading">
    <div class="bg-loading">
        <div class="loading-container">
            <div class="loading"></div>
            <!-- {{ hasOponente ? 'Carregando tabuleiro' : 'Esperando o oponente' }} -->
            <div id="loading-text">Encontrando um oponente</div>
        </div>
    </div>
</div>

<!-- 
<div id="modal-container">
    <div class="modal-background">
      <div class="modal">
        <h2>I'm a Modal</h2>
        <p>Hear me roar.</p>
        <svg class="modal-svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="none">
                                  <rect x="0" y="0" fill="none" width="226" height="162" rx="3" ry="3"></rect>
                              </svg>
      </div>
    </div>
  </div>
  <div class="content">
    <h1>Modal Animations</h1>
    <div class="buttons">
      <div id="one" class="button">Unfolding</div>
      <div id="two" class="button">Revealing</div>
      <div id="three" class="button">Uncovering</div>
      <div id="four" class="button">Blow Up</div><br>
      <div id="five" class="button">Meep Meep</div>
      <div id="six" class="button">Sketch</div>
      <div id="seven" class="button">Bond</div>
    </div>
  </div> -->

<!-- <div class="f-notification danger">
    <img src="../../assets/images/emojis/E27.png" alt="">
</div> -->