@font-face {
    font-family: 'clash';
    src: url('../../assets/fonts/clash.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.pai-container {
    background-color: #2784B6;
    background-image: url('../../assets/images/img-tela-partida/den-pixelart-watertiles.gif');
    background-size: contain;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ilhaL {
    background-image: url('../../assets/images/img-tela-pre/ilhaL.png');
    background-position: left;

}

.ilhaR {
    background-image: url('../../assets/images/img-tela-pre/ilhaR.png');
    background-position: right;

}

.ilhaL,
.ilhaR {
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 200px;
    filter: drop-shadow(5px 5px 5px rgb(28, 27, 27));
}


.container {
    display: flex;
    flex-direction: column;
}

.buttons {
    text-align: center;
}

/* .buttons.c{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.buttons svg {
    width: 20px;
    height: 20px;
    fill: rgb(233, 233, 233);
}

.buttons svg path{
    /* stroke-width: 5; */

}

.buttons button {
    padding: 6px;

    border: 0;
    border-radius: 10px;
    border-bottom: 5px solid #b46436;
    background-color: #FFB11D;
    color: #f0f0f0;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
    margin: 5px;
    filter: drop-shadow(5px 1px 5px rgb(28, 27, 27));

    font-family: 'clash', Arial, Helvetica, sans-serif;
    font-size: clamp(0.7em, 1.5vw, .9em);
}

.buttons.right{
    text-align: end;
    padding: 10px;
}

.buttons.right button{
    padding: 15px;
    max-width: 250px;
    width: 100%;
}




/* __________________  NOTIFICAÇÃO */



.f-notification {
    position: fixed;
    top: 20px;
    right: 20px;
    text-align: left;
    width: 300px;
    min-height: 20px;
    padding: 20px 40px 20px 18px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.85);


}

.f-notification:hover {
    opacity: 0.9;
}

.f-notification:hover .f-notification-close {
    background: rgba(77, 77, 79, 0.1);
}

.f-notification .f-notification-title {
    font-weight: 600;
    cursor: default;

    margin-top: 0;
    margin-bottom: 8px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #8a0000;
    font-weight: bold;
}

.f-notification .alert-content {
    margin: 0;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #212121;
}

.f-notification .f-close {
    position: absolute;
    right: 15px;
    top: 20px;
    height: 20px;
    width: 20px;
    line-height: 18px;
    vertical-align: middle;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.25);
}

.f-notification .f-close:hover {
    background: rgba(77, 77, 79, 0.2);
}

.f-notification-success {
    background: #2ecc71;
}

.f-notification-error {
    border: 2px solid #ff3838D0;
    border-radius: 8px;
    background-color: #ff3838C0;
}

.f-notification-alert {
    background: #f1c40f;
}

.f-show {
    animation-name: animSlideElastic;
    animation-duration: 1s;
    animation-timing-function: linear;
}

.f-hide {
    animation-name: animSlideElastic;
    animation-duration: 0.5s;
    animation-direction: reverse;
    opacity: 0;
}

@keyframes animSlideElastic {
    0% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1000, 0, 0, 1);
    }

    3.333333% {
        transform: matrix3d(1.96989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 521.82545, 0, 0, 1);
    }

    6.666667% {
        transform: matrix3d(1.4235, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 218.3238, 0, 0, 1);
    }

    10% {
        transform: matrix3d(1.08167, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 57.59273, 0, 0, 1);
    }

    13.333333% {
        transform: matrix3d(0.99057, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -11.12794, 0, 0, 1);
    }

    16.666667% {
        transform: matrix3d(0.98719, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -30.40503, 0, 0, 1);
    }

    20% {
        transform: matrix3d(0.99541, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -28.10141, 0, 0, 1);
    }

    23.333333% {
        transform: matrix3d(0.99936, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -19.40752, 0, 0, 1);
    }

    26.666667% {
        transform: matrix3d(1.00021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -11.08575, 0, 0, 1);
    }

    30% {
        transform: matrix3d(1.00016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -5.23737, 0, 0, 1);
    }

    33.333333% {
        transform: matrix3d(1.00005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.84893, 0, 0, 1);
    }

    36.666667% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.22079, 0, 0, 1);
    }

    40% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.37284, 0, 0, 1);
    }

    43.333333% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.46116, 0, 0, 1);
    }

    46.666667% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.38192, 0, 0, 1);
    }

    50% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.2854, 0, 0, 1);
    }

    53.333333% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.19751, 0, 0, 1);
    }

    56.666667% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.12716, 0, 0, 1);
    }

    60% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.07748, 0, 0, 1);
    }

    63.333333% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.04643, 0, 0, 1);
    }

    66.666667% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.02728, 0, 0, 1);
    }

    70% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.01558, 0, 0, 1);
    }

    73.333333% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.00886, 0, 0, 1);
    }

    76.666667% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.00502, 0, 0, 1);
    }

    80% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.00285, 0, 0, 1);
    }

    83.333333% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.0016, 0, 0, 1);
    }

    86.666667% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.00089, 0, 0, 1);
    }

    90% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.0005, 0, 0, 1);
    }

    93.333333% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.00028, 0, 0, 1);
    }

    96.666667% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.00016, 0, 0, 1);
    }

    100% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.0001, 0, 0, 1);
    }
}

/* MODAL JOGAR */

.shandow-modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: #000000cd;
    display: none;
    justify-content: center;
    align-items: center;
}

.shandow-modal.active {
    display: flex;
    transform: scaleY(.01) scaleX(0);
    animation: unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}


.shandow-modal.active .bg-modal .modal {
    transform: scale(0);
    animation: zoomIn .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

@keyframes unfoldIn {
    0% {
        transform: scaleY(.005) scaleX(0);
    }

    50% {
        transform: scaleY(.01) scaleX(1);
    }

    100% {
        transform: scaleY(1) scaleX(1);
    }
}


@keyframes zoomIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}


.modal {
    width: 300px;
    /* height: 400px; */
    background-color: #AF7939;
    border-radius: 10px;
    padding: 10px;
}

.modal .banner {
    background-image: url("../../assets/images/img-tela-pre/bannerGo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 130px;
    width: 190%;
    margin-left: -125px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(5px 5px 5px rgba(130, 235, 82, 0.251));
}


.banner p {
    /* background-color: #ead395; */
    font-family: 'clash', Arial, Helvetica, sans-serif;
    font-size: clamp(0.9em, 1em + 2vw, 1.8em);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: rgb(252, 198, 4);
    margin-top: -30px;
}

.content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #1BACD3; */
}


.oponente {
    background-color: #6D4311;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 80%;
}

/* LOADING */


.loading-container,
.loading {
    height: 100px;
    position: relative;
    width: 100px;
    border-radius: 100%;
}


.loading-container {
    margin: 40px auto
}

.loading {
    border: 2px solid transparent;
    border-color: transparent #fff transparent #FFF;
    -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
    -moz-transform-origin: 50% 50%;
    -o-animation: rotate-loading 1.5s linear 0s infinite normal;
    -o-transform-origin: 50% 50%;
    -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
    -webkit-transform-origin: 50% 50%;
    animation: rotate-loading 1.5s linear 0s infinite normal;
    transform-origin: 50% 50%;
}

.loading-container:hover .loading {
    border-color: transparent #E45635 transparent #E45635;
}

.loading-container:hover .loading,
.loading-container .loading {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#loading-text {
    -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
    -o-animation: loading-text-opacity 2s linear 0s infinite normal;
    -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
    animation: loading-text-opacity 2s linear 0s infinite normal;
    color: #ffffff;
    font-family: "Helvetica Neue, " Helvetica", " "arial";
    font-size: 10px;
    font-weight: bold;
    margin-top: 45px;
    opacity: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 100px;
}

@keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}


@keyframes loading-text-opacity {
    0% {
        opacity: 0
    }

    20% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}


/* CRONOMETRO */

.cronometro {
    padding: 5px;
    background-image: url("../../assets/images/img-tela-pre/madeira.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 50px;
    margin: auto;
    filter: drop-shadow(5px 5px 5px rgb(28, 27, 27));
    display: flex;
    align-items: center;
    justify-content: center;
}

.cronometro,
.cronometro span{
    font-family: 'clash', Arial, Helvetica, sans-serif;
    font-size: clamp(0.7em, 1.5vw, 1em);
    color: #e3e3e3;
    text-shadow: 2px 2px 2px black;

}

/* LOADING */

.fundo-loading{
    position: absolute;
    top: 0;
    left: 0;
    background: #000000;
    width: 100vw;
    height: 100vh;
}

.bg-loading {
    position: absolute;
    /* z-index: 20000; */
    top: 0;
    left: 0;
    background: #333333;
    width: 100vw;
    height: 100vh;
    overflow: hidden !important; 

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/images/img-home-page/bgMadeira.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
    animation: expand 0.6s ease forwards;
}

.bg-loading::before {
    content: '';
    position: absolute;
    /* z-index: 20000; */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.689);
    pointer-events: none;
    overflow: hidden;

}

@keyframes expand {
    0% {
        transform: translateX(1400px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@keyframes loading-text-opacity {
    0% {
        opacity: 0
    }

    20% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@-moz-keyframes loading-text-opacity {
    0% {
        opacity: 0
    }

    20% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes loading-text-opacity {
    0% {
        opacity: 0
    }

    20% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@-o-keyframes loading-text-opacity {
    0% {
        opacity: 0
    }

    20% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.loading-container,
.loading {
    height: 100px;
    position: relative;
    width: 100px;
    border-radius: 100%;
}


.loading-container {
    margin: 40px auto
}

.loading {
    border: 2px solid transparent;
    border-color: transparent #fff transparent #FFF;
    -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
    -moz-transform-origin: 50% 50%;
    -o-animation: rotate-loading 1.5s linear 0s infinite normal;
    -o-transform-origin: 50% 50%;
    -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
    -webkit-transform-origin: 50% 50%;
    animation: rotate-loading 1.5s linear 0s infinite normal;
    transform-origin: 50% 50%;
}

.loading-container:hover .loading {
    border-color: transparent #E45635 transparent #E45635;
}

.loading-container:hover .loading,
.loading-container .loading {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#loading-text {
    -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
    -o-animation: loading-text-opacity 2s linear 0s infinite normal;
    -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
    animation: loading-text-opacity 2s linear 0s infinite normal;
    color: #ffffff;
    font-family: "Helvetica Neue, " Helvetica", " "arial";
    font-size: 10px;
    font-weight: bold;
    margin-top: 35px;
    opacity: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 100px;
}


.conf-sound-effects{
    z-index: 1;
    padding: 3px;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: #2784B6; */
}

.conf-sound-effects > div{
    display: flex;
}
.conf-sound-effects svg{
    width: 32px;
    cursor: pointer;
    fill: #5c3908;
    filter: drop-shadow(2px 2px 2px rgb(28, 27, 27));

}

.range-slider{
    display: none;
    transition: .2s ease;
    padding: 7px 5px 8px 5px;
}


.range-slider:hover,
.icons-som:hover + .range-slider{
    display: block;
    /* background-color: #2ecc71; */
}

.range-slider input[type="range"]{
    filter: drop-shadow(2px 2px 2px rgb(28, 27, 27));

    background: #623c06;
    /* width: 100%; */
    height: 8px;
    outline: none;
    -webkit-appearance: none;
}
.range-slider input[type="range"]::-webkit-slider-thumb{
    background: #402b11;
    width: 15px;
    height: 20px;
    border-radius: 10%;
    cursor: pointer;
    transition: all 0.15s ease-in-out 0s;
    -webkit-appearance: none;
    appearance: none;
}
.range-slider input[type="range"]::-webkit-slider-thumb:hover,
.range-slider input[type="range"]:active::-webkit-slider-thumb{
    box-shadow: 0 0 5px #36240d;
}

.range-slider input[type="range"]::-moz-range-thumb:hover,
.range-slider input[type="range"]:active::-moz-range-thumb{
    box-shadow: 0 0 5px #36240d;
}

.range-slider .range-value{
    filter: drop-shadow(2px 2px 2px rgb(28, 27, 27));

    color: #fff;
    background-color: #623c06;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    /* line-height: 38px; */
    /* height: 38px; */
    /* width: 50px; */
    padding: 5px;
    margin-left: 4px;
}
::-moz-range-track{
    background: transparent;
    border: 0;
}
::-moz-range-track{
    background: transparent;
    border: 0;
}


/* aquiii é partida */

.info-navios-op{
    background-color: #ffffff34;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}


.info-navios-op > div{
    display: flex;
    margin-top: 2px;
}


.info-navios-op .n1 > div,
.info-navios-op .n2 > div,
.info-navios-op .n3 > div{
    display: flex;
    margin-right: 1px;
}


.info-navios-op .preto .u,
.info-navios-op .preto .t,
.info-navios-op .preto .p,
.info-navios-op .preto .n{
    width: 9px;
    height: 10px;
    background-color: #141414;
    margin: 0.4px;
}

.info-navios-op .preto .u{
    width: 13px;
}

/* explodidos */
.info-navios-op .red .u,
.info-navios-op .red .t,
.info-navios-op .red .p,
.info-navios-op .red .n{
    width: 9px;
    height: 9px;
    background-color: #d60c0c;
    margin: 0.4px;
}

.info-navios-op .red .u{
    width: 13px;
}

.info-navios-op .u,
.info-navios-op .p{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.info-navios-op .u,
.info-navios-op .t{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
