<h1 id="heading">The Lonely Moongirl Dressup</h1>
<div id="box">
    <div id="backdrop">

        <div id="hat" [ngClass]="classHat"></div>
        <div id="shirt" [ngClass]="classShirt"></div>
        <div id="avatar"></div>

        <div id="pants" [ngClass]="classPants"></div>
        <div id="shoes" [ngClass]="classShoes"></div>
        <!-- <canvas #canvasElement  width="212" height="353" ></canvas> -->

    </div>
    <div class="buttonBox">
        <button id="nextHat" (click)="nextHat()">Hat➡</button>
        <button id="nextShoes" (click)="nextShoes()">shoes➡</button>
        <button id="nextShirt" (click)="nextShirt()">Shirt➡</button>
        <button id="nextPants" (click)="nextPants()">Pants➡</button>

        <button (click)="render()">Desenhar Imagens</button>
        <button (click)="salvarImagem()">Salvar Imagem</button>

    </div>



</div>