<h2 id="msgAviso"></h2>
<div class="bg-container">

    <div class="form-login">
        <div class="logo">
            <img src="../../assets/images/logo.png" alt="">
        </div>
        <div class="form-inputs">
            <img src="../../assets/images/granada.png" alt="">
            <div>
                <div class="div-form-rtg">
                    <app-input [inputText]="'E-mail:'" [inputType]="'text'" [inputId]="'txtLogin'" (data)="fnGetEmail($event)"></app-input>
                </div>
                <div class="div-form-rtg">
                    <app-input [inputText]="'Senha:'" [inputType]="'password'" [inputId]="'txtPassword'" (data)="fnGetPassword($event)"></app-input>
                </div>
            </div>
        </div>

        <div class="form-btn">
            <app-button [btnText]="'Entrar!'" (click)="login()" ></app-button>
        </div>
        <div class="form-link-register">
            <p>Não é cadastrado? <a href="/cadastro"> Registrar</a></p>
        </div>
    </div>
</div>