.bg-container {
    width: 100vw;
    height: 100vh;
    background-image: url("./img/backgorundGame.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.form-login {
    display: flex;
    flex-direction: column;
    background-color: #183033c1;
    padding: 40px 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
    border-radius: 9px;
}

.form-btn {
    text-align: center;
}

.logo {
    margin: auto;
    margin-top: -10px;
    margin-bottom: -10px;
    filter: drop-shadow(2px 2px 5px rgba(28, 27, 27, 0.844));
}

.logo img {
    width: 210px;
    position: relative;
    z-index: 100;
}

.form-link-register {
    text-align: center;
    padding: 10px;
    font-size: 15px;
}

.form-link-register p {

    font-size: clamp(0.6em, 0.01em + 3vw, .9em);
    color: white;
}

.form-link-register a {
    color: #FFB11D;
    text-decoration: none;
    font-weight: bold;
}

.div-form-rtg {

    font-size: clamp(0.7em, 0.01em + 3vw, .9em);
    background-color: #17161688;
    padding: 10px 20px 10px 40px;
    border: 1px solid rgba(11, 104, 104, 0.814);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form-inputs {
    display: flex;
    padding-right: 20px;
    /* background-color: #FFB11D; */
}

.form-inputs img {
    width: 120px;
    height: 120px;
    margin-right: -50px;
    margin-top: -20px;
    transform: rotate(-25deg);
    filter: drop-shadow(2px 2px 5px rgba(28, 27, 27, 0.844));

}

/* msg */

#msgAviso {
    transition:0.5s;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: clamp(0.5em, 0.5em + 2vw, 1.1em);
    font-family: 'clash', Arial, Helvetica, sans-serif;

    font-weight: 600; 
    padding: 10px;
    opacity: 0;
    animation: msg .3s linear;
}

@keyframes  msg {
    0%{
        transform: translateY(-100px);
        
    }
    50%{
        transform: translateY(-50px);
        
    }
    100%{
        transform: translateY(0px);
        
    }
}

#msgAviso.error{
    /* background-color: rgba(229, 60, 60, 0.826); */
    border: 1px solid rgba(241, 6, 6, 0.81);
    background-color: rgba(220, 16, 1, 0.684);
    box-shadow: 0px 0px 2px #ff0303;
    color: #771212;
    display: block;
    opacity: 1;
    z-index: 10000;
}

#msgAviso.success{
    border: 1px solid rgba(6, 241, 190, 0.81);
    background-color: rgba(12, 134, 143, 0.821);
    box-shadow: 0px 0px 2px #03ffc4;
    color: #03ddff;
    display: block;
    opacity: 1;
    z-index: 10000;
}


@media (max-width: 440px) {
    .logo img {
        width: 150px;
    }

    .form-inputs img {
        width: 100px;
        height: 100px;
        margin-right: -45px;
        margin-top: -10px;
        transform: rotate(-25deg);
    }

    .div-form-rtg {
        padding: 10px 10px 10px 30px;
    }
}


@media (max-width: 600px) {
    .bg-container {
        justify-content: center;
        align-items: center;
    }

    .form-login {
        margin: 0;
    }
}