.bg-container {
    width: 100vw;
    height: 100vh;
    background-image: url("./img/backgorundGame.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.form-login {
    display: flex;
    flex-direction: column;
    background-color: #183033c1;
    padding: 40px 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
    border-radius: 9px;
}

.form-btn {
    text-align: center;
}

.logo {
    margin: auto;
    margin-bottom: -10px;
}

.logo img {
    width: 200px;
}

.form-link-register {
    text-align: center;
    padding: 10px;
    font-size: 15px;
}

.form-link-register p {

    font-size: clamp(0.6em, 0.01em + 3vw, .9em);
    color: white;
}

.form-link-register a {
    color: #FFB11D;
    text-decoration: none;
    font-weight: bold;
}

.div-form-rtg {

    font-size: clamp(0.7em, 0.01em + 3vw, .9em);
    background-color: #17161688;
    padding: 10px 20px 10px 40px;
    border: 1px solid rgba(11, 104, 104, 0.814);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form-inputs {
    display: flex;
    padding-right: 20px;
    /* background-color: #FFB11D; */
}

.form-inputs img {
    width: 130px;
    height: 130px;
    margin-right: -55px;
    margin-top: -25px;
    transform: rotate(-25deg);
}


@media (max-width: 440px) {
    .logo img {
        width: 150px;
    }

    .form-inputs img {
        width: 100px;
        height: 100px;
        margin-right: -45px;
        margin-top: -10px;
        transform: rotate(-25deg);
    }

    .div-form-rtg {
        padding: 10px 10px 10px 30px;
    }
}


@media (max-width: 600px) {
    .bg-container {
        justify-content: center;
        align-items: center;
    }

    .form-login {
        margin: 0;
    }
}