
:host-context(.cad) label {
    width: 100%;
    margin-left: 5px;
}

:host-context(.cad) input {
    margin-top: 5px;
    width: 100%;
    margin-left:0;
}

:host-context(.cad) div{
    display: block;
    text-align: left;
    margin: 10px;
}

div {
    /* background-color: #47bfcc; */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: end;
    /* margin-bottom: 10px; */
    
}


label {
    color: white;
    font-weight: bold;
    width: 20%;   
    font-size: clamp(0.7em, 0.01em + 3vw, .9em);
}



input {
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 40px;
    border: 0;
    background-color: #d9d9d947;
    width: 80%;
    font-size: clamp(0.7em, 0.01em + 3vw, .9em);
    color: white;
}

input:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}