<!-- <p>home-page works!</p> -->
<h2 id="msgAviso"></h2>
<div class="bg-image" [ngStyle]="{'background-image': 'url(' + imgTemaSelecionado + ')'}">
    <div class="container">
        <!-- DIV TOPO -->
        <div class="itens-player">


            <div class="item-level">

                <div class="item-level-icon">
                    <div class="chapeu">
                        <img src="assets/images/img-home-page/hatPirate.png" alt="Chapéu">
                        <p class="nivel">1</p>
                    </div>
                </div>

                <div class="item-level-status">
                    <div class="status-xp"></div>
                    <p class="relacao-xp">50/200</p>
                </div>

            </div>

            <div class="item-coin">

                <div class="icon-plus" (click)="openTab('moedas'); fnOpen('shop', 'moedas');">
                    <img src="assets/images/img-home-page/pluscoins.png" alt="">
                </div>
                <div class="item-coin-status">
                    <!-- <div></div> -->
                    <p id="principalCoinsValue">{{this.userData?.moeda}}</p>
                </div>
                <div class="icon-coin">
                    <img src="assets/images/img-home-page/coin.png" alt="">
                </div>
            </div>
            <div class="item-diamond" (click)="openTab('diamonds'); fnOpen('shop', 'diamonds');">

                <div class="icon-plus">
                    <img src="../../assets/images/img-home-page/pluscoins.png" alt="">
                </div>
                <div class="item-diamond-status">
                    <!-- <div></div> -->
                    <p id="principalDiamondValue">{{this.userData?.diamante}}</p>
                </div>
                <div class="icon-diamond">
                    <img src="../../assets/images/img-home-page/diamond.png" alt="">
                </div>
            </div>
        </div>


        <div class="infos-user">
            <div class="infos-user-bg">


                <div class="user-icon">
                    <div class="user-avatar">
                        <img [src]="this.imgAvatarSelecionado" alt="">
                    </div>
                    <div class="user-name">
                        <p>{{userData?.nome}}</p>
                    </div>
                </div>

                <div class="user-trofeus">

                    <div class="trofeu-icon">
                        <img src="../../assets/images/img-home-page/trofeu.png">
                    </div>

                    <div class="trofeu-status">
                        <p>{{ userData?.vitorias }}</p>
                    </div>


                </div>
            </div>
        </div>

        <div class="container-popup-ranking">
            <div class="popup-ranking">
                <div class="rank-title">
                    <h3>Ranking</h3>
                </div>

                <div class="rank-classifications">

                    <div class="rank-item" *ngFor="let user of listUsers; let i = index">
                       <div class="all-itens">
                        <div class="item-position">
                            <p>{{i+1}}</p>
                        </div>
                        <div class="item-avatar">
                            <!-- <div class="user-avatar"> -->
                            <img [src]="user.avatarBase64" alt="">
                            <!-- </div> -->
                        </div>
                        <div class="item-name">
                            <p>{{user.nome}}</p>

                        </div>
                       </div>
                        <div class="item-trofeus">
                            <div class="item-trofeu-status">


                                <div class="item-trofeu-icon">
                                    <img src="../../assets/images/img-home-page/trofeu.png">
                                </div>
                                <p>{{user.vitorias}}</p>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="navigations-buttons">
            <div class="container-buttons">

                <div class="nav-btn-geral">
                    <div class="nav-bg">
                        <div class="icon-conf" (mouseover)="playSoundSelecao()" (click)="fnOpen('conf');">
                            <p>Configurar</p>
                            <img src="../../assets/images/img-home-page/conf.png" alt="">
                        </div>
                        <div class="icon-inventory" (mouseover)="playSoundSelecao()" (click)="fnOpen('inventory');">
                            <p>Inventário</p>
                            <img src="../../assets/images/img-home-page/inventory.png" alt="">
                        </div>
                        <div class="icon-shop" (mouseover)="playSoundSelecao()" (click)="fnOpen('shop');">
                            <p>Shop</p>
                            <img src="../../assets/images/img-home-page/shop.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="nav-btn-play">
                    <button (mouseover)="playSoundBtnBatalha()" (click)="fnCarregar()">
                        <div>Batalhar!</div>
                    </button>
                </div>

            </div>
        </div>


    </div>
</div>
  
<embed #audioPlayer src="../../assets/audios/SomHomePage.mp3" loop="true" hidden="true" autostart="true">

<div class="popups" [class.popup--visible]="open === true"> <!-- [ngClass]="open? 'popup--visible': ''"-->
    <div class="bg-popups">
        <div class="popup-content">
            <button id="btn-close-popups" (click)="fnCloseModal()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                    <path
                        d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                </svg>
            </button>

            <!-- POPUP DA CONFIG ------------------------------------------------------- -->

            <div class="popup-conf" [class.active]="activePopUp === 'conf'">
                <h1>Configurações</h1>
                <div class="popup-conf-guias">

                    <div (click)="openTabConf('perfil')" [class.selected]="activeTabConf === 'perfil'">
                        <p>Perfil</p>
                    </div>
                    <div (click)="openTabConf('som')" [class.selected]="activeTabConf === 'som'">
                        <p>Sons</p>
                    </div>
                </div>

                <div class="popup-conf-screm" [class.selected]="activeTabConf === 'perfil'">
                    <div class="profile-area">
                        <div class="content">
                            <div class="profile-line"></div>

                            <div class="profile-content">

                                <div class="content-icon">
                                    <div class="profile">
                                        <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                            <path
                                                d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                                        </svg> -->
                                        <img [src]="this.imgAvatarSelecionado" alt="">
                                    </div>
                                </div>

                                <div class="content-infos">
                                    <div>
                                        <span>Vitórias:</span>
                                        <p id="tarefas">{{userData?.vitorias}}</p>
                                    </div>
                                    <div>
                                        <span>Derrotas:</span>
                                        <p id="colecoes">{{userData?.derrotas}}</p>
                                    </div>
                                </div>

                            </div>

                            <div class="profile-data">

                                <div class="data-name">
                                    <h3>Nome:</h3>
                                    <div class="name-icon" id="divName">
                                        <p id="nomeUser">{{ this.userData?.nome }}</p>
                                        <svg (click)="fnOpenAlterSenha()" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                        </svg>
                                    </div>
                                    <div class="alter-name" id="divAlter">
                                        <input type="text" id="txtName" value="">
                                        <svg (click)="fnFechaAlterNome()" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                        </svg>
                                        <svg (click)="fnSalvaNovoNome()" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                                        </svg>
                                    </div>
                                </div>

                                <div class="data-email">
                                    <h3>E-mail:</h3>
                                    <p>{{ this.userData?.email }}</p>
                                </div>

                                <div class="data-form-pass">
                                    <h3>Trocar senha:</h3>
                                    <form id="formAlterPass">
                                        <!-- <input type="hidden" id="codUser"> -->
                                        <input type="password" id="txtSenhaAntiga" placeholder="Senha atual">
                                        <!-- <input type="password" id="txtSenhaNova" placeholder="Senha nova"> -->
                                        <label for="txtSenhaNova">
                                            <input type="password" name="txtSenhaNova" id="txtSenhaNova"
                                                (keyup)="fnStatusPass($event)" placeholder="Senha nova">
                                            <input type="password" name="txtComfirm" id="txtComfirm"
                                                placeholder="Confirmar senha nova">
                                            <div class="validate">
                                                <div class="pass-status">
                                                    <div class="pass-dica">

                                                        <div class="dica" (click)="fnDica()">
                                                            ?
                                                        </div>

                                                        <div class="msg-dica">
                                                            Uma senha forte deve conter, ao menos:
                                                            <ul>
                                                                <li>
                                                                    <div id="eig">6 caracteres;</div>
                                                                </li>
                                                                <li>
                                                                    <div id="num">1 número;</div>
                                                                </li>
                                                                <li>
                                                                    <div id="min">1 letra minúscula;</div>
                                                                </li>
                                                                <li>
                                                                    <div id="mai">1 letra maiúscula;</div>
                                                                </li>
                                                                <li>
                                                                    <div id="esp">1 caracter especial.</div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>


                                                    <div>
                                                        <div id="fraca" class="fraca"
                                                            [ngStyle]="{'width.%': larguraFraca}"></div>
                                                        <div id="media" class="media"
                                                            [ngStyle]="{'width.%': larguraMedia}"></div>
                                                        <div id="forte" class="forte"
                                                            [ngStyle]="{'width.%': larguraForte}"></div>
                                                    </div>

                                                </div>


                                                <p id="aviso"></p>
                                            </div>
                                        </label>

                                    </form>
                                    <div class="form-btn">
                                        <button class="btn" id="btnAlterSenha" (click)="fnAlterSenha()">Alterar</button>
                                    </div>
                                </div>



                                <div class="data-logout">
                                    <button class="btn" (click)="fnLogout()">Sair</button>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>


                <div class="popup-conf-screm" [class.selected]="activeTabConf === 'som'">
                    <!-- <h1>Configurações</h1> -->
                    <div class="conf-sound-effects">

                        <p>Som:</p>

                        <div>
                            <svg *ngIf="sliderValueSound !== 0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
                                (click)="updateValueSound(0)">
                                <path
                                    d="M11.536 14.01A8.47 8.47 0 0 0 14.026 8a8.47 8.47 0 0 0-2.49-6.01l-.708.707A7.48 7.48 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303z" />
                                <path
                                    d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.48 5.48 0 0 1 11.025 8a5.48 5.48 0 0 1-1.61 3.89z" />
                                <path
                                    d="M8.707 11.182A4.5 4.5 0 0 0 10.025 8a4.5 4.5 0 0 0-1.318-3.182L8 5.525A3.5 3.5 0 0 1 9.025 8 3.5 3.5 0 0 1 8 10.475zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06" />
                            </svg>

                            <svg *ngIf="sliderValueSound === 0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
                                (click)="updateValueSound(50)">
                                <path
                                    d="M6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06m7.137 2.096a.5.5 0 0 1 0 .708L12.207 8l1.647 1.646a.5.5 0 0 1-.708.708L11.5 8.707l-1.646 1.647a.5.5 0 0 1-.708-.708L10.793 8 9.146 6.354a.5.5 0 1 1 .708-.708L11.5 7.293l1.646-1.647a.5.5 0 0 1 .708 0" />
                            </svg>
                            <div class="range-slider">
                                <input type="range" min="0" max="100" id="soundVolumeInput" [value]="sliderValueSound"
                                    (input)="updateValueSound()" />
                                <span class="range-value" id="spanSound">{{ sliderValueSound.toString() }}</span>
                            </div>
                        </div>
                        <p>Música:</p>
                        <div class="conf-music">

                            <svg *ngIf="sliderValueMusic !== 0" xmlns="http://www.w3.org/2000/svg"
                                (click)="updateValueMusic(0)" viewBox="0 -960 960 960">
                                <path
                                    d="M400-120q-66 0-113-47t-47-113q0-66 47-113t113-47q23 0 42.5 5.5T480-418v-422h240v160H560v400q0 66-47 113t-113 47Z" />
                            </svg>

                            <svg *ngIf="sliderValueMusic === 0" xmlns="http://www.w3.org/2000/svg"
                                (click)="updateValueMusic(50)" viewBox="0 -960 960 960">
                                <path
                                    d="M792-56 56-792l56-56 736 736-56 56ZM560-514l-80-80v-246h240v160H560v166ZM400-120q-66 0-113-47t-47-113q0-66 47-113t113-47q23 0 42.5 5.5T480-418v-62l80 80v120q0 66-47 113t-113 47Z" />
                            </svg>

                            <div class="range-slider">
                                <input type="range" min="0" max="100" [value]="sliderValueMusic" id="musicVolumeInput"
                                    (input)="updateValueMusic()" />
                                <span class="range-value" id="spanMusic">{{ sliderValueMusic.toString() }}</span>
                            </div>

                        </div>

                        <div class="sound-btn">
                            <button (click)="fnSalvaConfSounds()">Ok</button>
                        </div>
                    </div>

                </div>


            </div>



            <!-- POPUP DO INVENTARIO ------------------------------------------------------- -->


            <div class="popup-inventory" [class.active]="activePopUp === 'inventory'">

                <!-- <div class="invent-itens"> -->
                <div class="popup-invent-guias">

                    <!-- essas guias vai vir do banco de dados -->
                    <div (click)="openTabInvent('todos')" [class.selected]="activeTabInvent === 'todos'">
                        <p>Todos</p>
                    </div>
                    <!-- <div (click)="openTabInvent('pants')" [class.selected]="activeTabInvent === 'pants'">
                            <p>Calças</p>
                        </div> -->

                    <div *ngFor="let guia of guiasInvent" (click)="openTabInvent(guia.seletor)"
                        [class.selected]="activeTabInvent === guia.seletor">
                        <p>{{guia.titulo}}</p>
                    </div>

                </div>

                <!-- vai vir do banco -->
                <div class="popup-invent-screm" [class.selected]="activeTabInvent === 'todos'">
                    <!-- vai vir do banco -->

                    <ng-container *ngFor="let pacote of meusPacotes">

                        <div class="invent-item" (click)="fnSelectUseItem(pacote.temaId, 0, 0)" [class.selected]="userData?.idTema === pacote.temaId">
                            <!-- <h3>100 diamantes</h3> (click)="fnSelectedClothe(item)" [class.selected]="oAvatar[guias.seletor] === item.titulo"-->
                            <p>{{pacote.nomeTema}}</p>  
                            <div class="item-img" >
                                <div>
                                    <img [src]="pacote.fundoBase64" alt="">
                                </div>
                                <!-- <p>Descrição</p> -->
                            </div>
                            <div class="select-use-item" [class.selected]="userData?.idTema === pacote.temaId">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                    <path
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                </svg>
                            </div>
                        </div>

                        <div class="invent-item" (click)="fnSelectUseItem(0, pacote.temaId, 0)" [class.selected]="userData?.idAvatar === pacote.temaId">
                            <!-- <h3>100 diamantes</h3> (click)="fnSelectedClothe(item)" [class.selected]="oAvatar[guias.seletor] === item.titulo"-->
                            <p>{{pacote.nomeAvatar}}</p>  
                            
                            <div class="item-img" >
                                <div>
                                    <img [src]="pacote.avatarBase64" alt="">
                                </div>
                                <!-- <p>Descrição</p> -->
                            </div>
                            <div class="select-use-item" [class.selected]="userData?.idAvatar === pacote.temaId">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                    <path
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                </svg>
                            </div>
                        </div>

                        <div class="invent-item" (click)="fnSelectUseItem(0, 0, pacote.temaId)" [class.selected]="userData?.idEmbarcacao === pacote.temaId">
                            <!-- <h3>100 diamantes</h3> (click)="fnSelectedClothe(item)" [class.selected]="oAvatar[guias.seletor] === item.titulo"-->
                            <p>{{pacote.nomeEmbarcacoes}}</p>  
                            
                            <div class="item-img" >
                                <div>
                                    <img id="bc1i" [src]="pacote?.barco1Base64" alt="">
                                    <img id="bc2i" [src]="pacote?.barco2Base64" alt="">
                                    <img id="bc3i" [src]="pacote?.barco3Base64" alt="">
                                    <img id="bc4i" [src]="pacote?.barco4Base64" alt="">
                                </div>
                                <!-- <p>Descrição</p> -->
                            </div>
                            <div class="select-use-item"  [class.selected]="userData?.idEmbarcacao === pacote.temaId">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                    <path
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                </svg>
                            </div>
                        </div>


                    </ng-container>

                </div>

                <div *ngFor="let guia of guiasInvent" class="popup-invent-screm"
                    [class.selected]="activeTabInvent === guia.seletor">
                    <!-- vai vir do banco -->

                    <ng-container *ngIf="guia.titulo === 'Avatar'">

                        <div class="invent-item" (click)="fnSelectUseItem(0, pacote.temaId, 0)" *ngFor="let pacote of meusPacotes" [class.selected]="userData?.idAvatar === pacote.temaId">
                            <!-- <h3>100 diamantes</h3> [class.selected]="oAvatar[guia.seletor] === item.titulo" *ngIf="guia.seletor === item.categoria"(click)="fnSelectedClothe(item)"-->
                            <p>{{pacote.nomeAvatar}}</p> 
                            <div class="item-img" >
                                <div>
                                    <img [src]="pacote.avatarBase64" alt="">
                                </div>
                                <!-- <p>Descrição</p> -->
                            </div>
                            <div class="select-use-item selected" [class.selected]="userData?.idAvatar === pacote.temaId">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                    <path
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                </svg>
                            </div> 
                        </div>
                    </ng-container>

                    <ng-container *ngIf="guia.titulo === 'Tema'">
                        <div class="invent-item" (click)="fnSelectUseItem(pacote.temaId, 0, 0)" *ngFor="let pacote of meusPacotes" [class.selected]="userData?.idTema === pacote.temaId">
                            <!-- <h3>100 diamantes</h3> [class.selected]="oAvatar[guia.seletor] === item.titulo" *ngIf="guia.seletor === item.categoria"(click)="fnSelectedClothe(item)"-->
                            <p>{{pacote.nomeTema}}</p> 
                            <div class="item-img" >
                                <div>
                                    <img [src]="pacote.fundoBase64" alt="">
                                </div>
                                <!-- <p>Descrição</p> -->
                            </div>
                            <div class="select-use-item" [class.selected]="userData?.idTema === pacote.temaId">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                    <path
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                </svg>
                            </div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="guia.titulo === 'Embarcações'" >
                        <div class="invent-item" (click)="fnSelectUseItem(0, 0, pacote.temaId)" *ngFor="let pacote of meusPacotes" [class.selected]="userData?.idEmbarcacao === pacote.temaId">
                            <!-- <h3>100 diamantes</h3> [class.selected]="oAvatar[guia.seletor] === item.titulo" *ngIf="guia.seletor === item.categoria"(click)="fnSelectedClothe(item)"-->
                            <p>{{pacote.nomeEmbarcacoes}}</p> 
                            <div class="item-img" >
                                <div>
                                    <img id="bc1i" [src]="pacote?.barco1Base64" alt="">
                                    <img id="bc2i" [src]="pacote?.barco2Base64" alt="">
                                    <img id="bc3i" [src]="pacote?.barco3Base64" alt="">
                                    <img id="bc4i" [src]="pacote?.barco4Base64" alt="">
                                </div>
                                <!-- <p>Descrição</p> -->
                            </div>
                            <div class="select-use-item" [class.selected]="userData?.idEmbarcacao === pacote.temaId">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                    <path
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                </svg>
                            </div>
                        </div>
                    </ng-container>


                </div>


                <!-- </div> -->
            </div>


            <!-- POPUP DO SHOP ------------------------------------------------------- -->

            <div class="popup-shop" [class.active]="activePopUp === 'shop'">
                <h1>Shopping</h1>
                <div class="popup-shop-guias">
                    <div (click)="openTab('pacotes')" [class.selected]="activeTab === 'pacotes'">
                        <p>Pacotes</p>
                    </div>
                    <!-- essas guias vai vir do banco de dados -->
                    <div (click)="openTab('moedas')" [class.selected]="activeTab === 'moedas'">
                        <p>Moedas</p>
                    </div>
                    <div (click)="openTab('diamonds')" [class.selected]="activeTab === 'diamonds'">
                        <p>Diamantes</p>
                    </div>

                    <!-- <div *ngFor="let cat of dataCategorias" (click)="openTab(cat.titulo)"
                        [class.selected]="activeTab === cat.titulo">
                        <p>{{cat.titulo}}</p>
                    </div> -->

                </div>

                <div class="popup-shop-screm" [class.selectedP]="activeTab === 'pacotes'"
                    (click)="ActivePctInfo = false">
                    <!-- Vai vir do banco -->


                    <div class="container-pacotes">

                        <ng-container *ngFor="let item of itensPacotes">
                            <div class="shop-item" *ngIf="item.temaId !== 1" (click)="fnInfoPacote(item.temaId)">
                                <h3>{{item.nomeTema}}</h3>
                                <div class="item-img" >
                                    <div>
                                        <img id="bc1i" [src]="item?.barco1Base64" alt="">
                                        <img id="bc2i" [src]="item?.barco2Base64" alt="">
                                        <img id="bc3i" [src]="item?.barco3Base64" alt="">
                                        <img id="bc4i" [src]="item?.barco4Base64" alt="">
                                    </div>
                                    <!-- <p>Descrição</p> -->
                                </div>
                                <div class="item-value">
                                    <div *ngIf="item.tipoPagamento === 'Diamante'" class="value-type">
                                        <img src="../../assets/images/img-home-page/diamond.png" alt="">
                                    </div>
                                    <div *ngIf="item.tipoPagamento === 'Moeda'" class="value-type">
                                        <img src="../../assets/images/img-home-page/coin.png" alt="">
                                    </div>
                                    <div class="value-price">
                                        <!-- <p>{{formatarValor(d.preco)}}</p> 
                                         fnConfirmOpenModalConfirm(item.valor, 0, 'c') fnCompraPacote(item.temaId, item.valor, item.tipoPagamento)-->
                                        <p>{{item.valor}}</p>
                                    </div>
                                    <div class="value-btn" (click)="fnConfirmOpenModalConfirm(item.valor, null, item.tipoPagamento, item.nomeTema, item.temaId);">
                                        <div> 
                                            Buy
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        </ng-container>
                       
                    </div>

                    <div class="info-pacote" [class.active]="ActivePctInfo">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" (click)="ActivePctInfo = false">
                                <path
                                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                            </svg>
                        </div>
                        <div class="info-pacote-tema">
                            <p>Tema: {{pacoteSelected?.nomeTema}}</p>
                            <img [src]="pacoteSelected?.fundoBase64" alt="">
                        </div>
                        <div class="info-pacote-avatar">
                            <p>Avatar: {{pacoteSelected?.nomeAvatar}}</p>
                            <div>
                                <img [src]="pacoteSelected?.avatarBase64" alt="">
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Vai vir do banco -->
                <div class="popup-shop-screm" [class.selected]="activeTab === 'moedas'">

                    <div class="shop-item" *ngFor="let c of itensCoins">
                        <h3>{{c.titulo}}</h3>
                        <div class="item-img">
                            <div>
                                <img [src]="c.img" alt="">
                            </div>
                            <!-- <p>Descrição</p> -->
                        </div>
                        <div class="item-value">
                            <div class="value-type">
                                <img src="../../assets/images/img-home-page/diamond.png" alt="">
                            </div>
                            <div class="value-price">
                                <!-- <p>{{formatarValor(c.preco)}}</p> -->
                                <p>{{c.preco}}</p>
                            </div>
                            <div class="value-btn">
                                <div (click)="fnConfirmOpenModalConfirm(c.preco, c.valor, 'Diamante')">
                                    Buy
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Vai vir do banco -->


                <!-- Vai vir do banco -->
                <div class="popup-shop-screm" [class.selected]="activeTab === 'diamonds'">
                    <!-- Vai vir do banco -->

                    <div class="shop-item" *ngFor="let d of itensDiamonds">
                        <h3>{{d.titulo}}</h3>
                        <div class="item-img">
                            <div>
                                <img [src]="d.img" alt="">
                            </div>
                            <!-- <p>Descrição</p> -->
                        </div>
                        <div class="item-value">
                            <div class="value-type">
                                <img src="../../assets/images/img-home-page/coin.png" alt="">
                            </div>
                            <div class="value-price">
                                <!-- <p>{{formatarValor(d.preco)}}</p> -->
                                <p>{{d.preco}}</p>
                            </div>
                            <div class="value-btn">
                                <div (click)="fnConfirmOpenModalConfirm(d.preco, d.valor, 'Moeda')">
                                    Buy
                                </div>
                            </div>
                        </div>

                    </div>



                </div>


                <div *ngFor="let cat of dataCategorias" class="popup-shop-screm"
                    [class.selected]="activeTab === cat.titulo">
                    <ng-container *ngFor="let item of dataItens">
                        <!-- Vai vir do banco falar pro flavio colocar o idda categoria no item -->
                        <div *ngIf="item.categoria === cat.titulo && item.ativo === true" class="shop-item">
                            <h3>{{item.titulo}}</h3>
                            <div class="item-img">
                                <div>
                                    <!-- colocarr a imagemmm! -->
                                    <img src="{{'data:image/jpg;base64,' + item.imageData}}" alt="">
                                </div>
                                <p>{{item.descricao}}</p>
                            </div>
                            <div class="item-value">

                                <div class="value-type" *ngIf="item.tipoPagamento === 'MOEDA'">
                                    <img src="../../assets/images/img-home-page/coin.png" alt="">
                                </div>

                                <div class="value-type dd" *ngIf="item.tipoPagamento === 'DIAMANTE'">
                                    <img src="../../assets/images/img-home-page/diamond.png" alt="">
                                </div>
                                <div class="value-price">

                                    <!-- formatar o valor -->
                                    <p>{{ formatarValor(item.valor) }}</p>
                                </div>
                                <div class="value-btn">
                                    <div>
                                        Buy
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="shadow-modal-confirm">
    <div class="modal-confirm">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
            <path
                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </svg>
        <h1>Tem certeza?</h1>
        <p>Deseja realmente fazer essa compra?</p>
        <div class="confirm-compra">
            <span>
                <p class="confirmP" id="qtdCompraTitulo">Quantidade de : </p>
                <p id="qtdCompra"></p>
            </span>
            <span>
                <p class="confirmP">Valor:</p>
                <p id="valorCompra"></p>
            </span>
        </div>
        <div>
            <button class="btn no" (click)="fnModalConfirm()">Não</button>
            <button class="btn" id="btnBuy" (click)="fnBuy()">Sim, quero comprar</button>
        </div>
    </div>
</div>