@font-face {
    font-family: 'clash';
    src: url('../../assets/fonts/clash.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.bg-image {
    /* background-image: url('./img/bgMadeira.png'); */
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

h3,
p {
    font-size: clamp(0.5em, 0.01em + 2vw, .9em);
    margin: 0;
    /* font-size: 13px; */
    font-family: 'clash', Arial, Helvetica, sans-serif;
}


.container-buttons,
.container {
    width: 1200px;
    max-width: 90%;
    margin: auto;
    /* background-color: aqua; */
}

.itens-player {
    position: relative;
    /* background-color: rgba(142, 106, 46, 0.521); */
    background-image: url('../../assets/images/img-home-page/bgPerga.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 10px;
    z-index: 99;
    /* drop-shadow: 1px 1px 5px 1px rgb(28, 27, 27); */

    filter: drop-shadow(10px 1px 5px rgb(28, 27, 27));
}

.item-level,
.item-coin,
.item-diamond {
    display: flex;
    align-items: center;
    max-width: 33%;
    width: 250px;
}

.chapeu {
    margin-right: -15px;
    position: relative;
    display: inline-block;
    /* Garante que o contêiner do chapéu se ajuste ao tamanho da imagem */
    z-index: 99;
}

.chapeu img {
    display: block;
    /* Impede que a imagem tenha espaços extras abaixo dela */
    width: 100px;
    max-width: 100%;
    /* max-width: 100%; */
    margin-bottom: -25px;
}



.chapeu p {
    position: absolute;
    top: 50%;
    left: 50%;
    /* font-size: 10px; */
    font-size: clamp(0.5em, 0.01em + 2vw, .8em);
    font-weight: bold;
    transform: translate(-50%, -50%);
    /* Move o elemento para o centro do chapéu */
    text-align: center;
    /* Centraliza o texto horizontalmente */
    color: white;
    /* Ajusta a cor do texto para ser visível */
}

.trofeu-status,
.item-coin-status,
.item-diamond-status,
.item-level-status {
    background: linear-gradient(to top, #252525c7 60%, #2f2f2fca 40%) padding-box,
        linear-gradient(to top, #343331, #1e1d1c) border-box;
    border: 3px solid rgba(36, 36, 36, 0.782);
    /* padding: 2px; */
    width: 100%;
    position: relative;
    display: inline-block;
    border-radius: 3px;
    height: 30px;
    margin-right: 10px;
    box-shadow: 1px 1px 5px 1px rgb(28, 27, 27);

}

.trofeu-status,
.item-coin-status,
.item-diamond-status {
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
    padding-right: 25px;
}

.icon-plus img {
    max-width: 100%;
    width: 45px;
}

.icon-coin img {
    max-width: 100%;
    width: 55px;
}

.icon-diamond img {
    max-width: 100%;
    width: 60px;
}

.icon-coin,
.icon-diamond,
.icon-plus {
    position: relative;
    display: inline-block;
    /* Garante que o contêiner do chapéu se ajuste ao tamanho da imagem */
    z-index: 99;
}

.icon-coin,
.icon-diamond {
    margin-left: -28px;

}

.icon-plus {
    margin-right: -15px;
    margin-top: 4px;
    cursor: pointer;
}

.item-level-status p {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    transform: translate(-50%, -50%);
    /* Move o elemento para o centro do chapéu */
    text-align: center;
    /* Centraliza o texto horizontalmente */
    color: white;
    /* Ajusta a cor do texto para ser visível */
}

.item-level-status div {
    background-color: #1BACD3;
    /* height: 25px; */
    height: 100%;
    width: 80%;
}


.infos-user {
    /* background-color: #b46d26; */
    display: flex;
    justify-content: center;
}

.infos-user-bg {
    margin-top: -10px;
    width: 100%;
    max-width: 60%;
    /* background-image: url('../../assets/images/img-home-page/bgPergaMeio.png');
    background-size: cover;
    background-position: 50px center; */
    padding: 10px;
    border: 3px solid #847E66;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #BFB28F;
    box-shadow: 1px 1px 5px 1px rgb(28, 27, 27);


}


.user-icon {
    display: flex;
    align-items: center;

}

.user-avatar {
    margin-right: 10px; 
    max-width: 100%;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: #1BACD3;
    overflow: hidden;

}

.user-avatar img {
    /* margin-top: -10px; */
    width: 100%;
}

.user-name p {
    font-size: clamp(0.5em, 1.5vw, .9em);

}

.user-trofeus {
    display: flex;
    align-items: center;
    /* background-color: aquamarine; */
    max-width: 50%;
    width: 200px;
}

.trofeu-icon {
    position: relative;
    display: inline-block;
    z-index: 99;
    margin-right: -20px;
    margin-top: 7px;
}

.trofeu-icon img {
    max-width: 100%;
    width: 60px;

}

/* .trofeu-status esta na linha 93*/
/* .trofeu-status {
    justify-content: center;
    padding-right: 0px;
} */

.trofeu-status p{
    font: bold clamp(0.5em, 0.01em + 2vw, .9em) / 1.5 "clash", Arial, Helvetica, sans-serif !important;
}

.navigations-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    /* background-color: #ffaa00; */
    background: linear-gradient(to bottom, #1d1c1c04, #1d1c1c8b, #1d1c1ca6);
}

.container-buttons {
    display: flex;
    justify-content: space-between;
    /* background-color: #1BACD3; */
}

.nav-btn-geral {
    flex: 2;
    max-width: 350px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: left;
    align-items: center;

}

.nav-bg {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 10px;
    /* border: 3px solid #847E66;
    background-color: #BFB28F;
    box-shadow: 1px 1px 5px 1px rgb(28, 27, 27); */

    background-image: url("../../assets/images/img-home-page/pergaBgBtns.png");
    background-position: center;
    background-size: cover;
    filter: drop-shadow(5px 1px 5px rgb(28, 27, 27));

}

.icon-conf,
.icon-inventory,
.icon-shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centraliza os elementos verticalmente */
    text-align: center;
    /* Centraliza o texto horizontalmente */
}


.nav-btn-geral img {
    max-width: 95%;
    width: 80px;
    cursor: pointer;
    transition: all 0.3s ease;
    filter: drop-shadow(5px 1px 5px rgb(28, 27, 27));
    margin-top: -25px;
}


.icon-conf p,
.icon-inventory p,
.icon-shop p {
    font-size: clamp(0.5em, 1.5vw, .6em);

    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    /* Inicia invisível */
    transition: opacity 0.3s ease;
    position: absolute;
    top: -60px;
    /* Ajuste conforme necessário */
    /* Adiciona uma transição suave */
}

.nav-btn-geral img:hover {
    transform: scale(1.2) translateY(-10px);
}

.icon-conf:hover p,
.icon-inventory:hover p,
.icon-shop:hover p {
    opacity: 1;
}



.nav-btn-play {
    flex: 1;
    max-width: 250px;
    /* background-color: #b46436; */
}

.nav-btn-play button {
    padding: 0;
    width: 100%;
    border: 0;
    border-radius: 10px;
    border-bottom: 5px solid #b46436;
    background-color: #FFB11D;
    color: #f0f0f0;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
    /* margin: 10px; */
    filter: drop-shadow(5px 1px 5px rgb(28, 27, 27));
    font-size: clamp(0.7em, 1.5vw, 1em);
    transition: 0.5s ease;


}

.nav-btn-play button:hover {
    transform: scale(1.1) translateY(1px);

}


.nav-btn-play div {
    padding: 15px;
    background: linear-gradient(to top, #eda41b 50%, #FFB11D 50%) padding-box,
        linear-gradient(to top, #dd991c, #eab450) border-box;
    border-radius: 9px;
    border: 4px solid transparent;
    text-align: center;
    font-family: 'clash', Arial, Helvetica, sans-serif;

}

.container-popup-ranking {
    /* background-color: #BFB28F; */
    display: flex;
    padding: 20px;
}

.popup-ranking {
    /* background-color: #b46436; */
    background-image: url("../../assets/images/img-home-page/bgRaking.png");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(5px 1px 5px rgb(28, 27, 27));

    padding: 20px;
    /* width: 250px; */
    max-width: 80%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-ranking p{
    font: bold clamp(0.5em, 0.01em + 2vw, .9em) / 1.5 "clash",Arial,Helvetica,sans-serif !important;
}

.rank-title {
    text-align: center;
    width: 100%;
    padding: 10px;
    /* background-color: #343331; */
    margin-bottom: 10px;
}

.rank-classifications {
    /* padding: 10px; */
    /* background-color: #dd991c; */
    width: 100%;
    overflow: hidden;
    /* overflow-y: scroll; */
    overflow-y: auto;
    padding: 10px;
}


.rank-classifications::-webkit-scrollbar {
    width: 12px;
}

.rank-classifications::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #DBCCA4;
    border: 1px solid #13131369;
    box-shadow: inset 0 0 6px rgba(124, 103, 45, 0.668);
}

.rank-classifications::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 1px solid #17171769;

    background-color: #baa363;
}


.rank-item {
    display: flex;
    background-color: #91876a;
    margin-bottom: 10px;
    border-radius: 10px;
    /* background-color: #847E66; */
    padding: 2px;
    align-items: center;
}

.all-itens{
    display: flex;
    flex: 3;
}
/* .item-avatar, */
.item-position,
.item-name,
.item-trofeus {
    display: flex;
    align-items: center;
    -webkit-text-stroke-width: .7px;
    -webkit-text-stroke-color: #262626d8;
    color: white;
}

.item-position {
    padding: 10px;
    width: 40px;
    /* background-color: aqua; */
}

.item-avatar {
    /* padding: 5px; */
    /* background-color: rgb(38, 0, 255); */
    max-width: 100%;
    width: 50px;
    height: 40px;
    /* border-radius: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d3bd1b;
    overflow: hidden;
}

.item-avatar img {
    margin-top: 25px;
    width: 100%;
}


.item-name {
    font-size: 11px;
    padding: 5px;
    /* background-color: rgb(55, 255, 0); */
}

.item-trofeus {
    padding: 5px;
    /* background-color: rgb(191, 255, 0); */
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: #262626;
    position: relative;
}


.item-trofeus .item-trofeu-status {
    display: flex;
    background: linear-gradient(to top, #252525c7 60%, #2f2f2fca 40%) padding-box,
        linear-gradient(to top, #343331, #1e1d1c) border-box;
    border: 3px solid rgba(36, 36, 36, 0.782);
    padding: 5px;
    /* width: 100%; */
    width: 70px;
    border-radius: 3px;
    float: right;
    /* height: 30px; */
    /* margin-right: 10px; */
    color: white;
    box-shadow: inset 1px 1px 5px 1px rgb(28, 27, 27);
    align-items: flex-end;
    font-size: 11px;
}

/* .item-trofeu-status p{
    font: bold clamp(0.5em, 0.01em + 2vw, .9em) / 1.5 "clash", Arial, Helvetica, sans-serif !important;
} */

.item-trofeus .item-trofeu-icon {
    display: flex;
    align-items: center;
}


.item-trofeu-icon img {
    max-width: 50%;
    width: 30px;
    margin-top: -15px;

}

/* .trofeu-status esta na linha 93*/
.trofeu-status {
    justify-content: center;
    padding-right: 0px;
}


/* POPUPS ***************************************************/

.popups {
    visibility: hidden;
    transition: visibility 0ms linear .3s;
}

.bg-popups {
    position: fixed;
    z-index: 1100;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.848);
    display: flex;
    justify-content: center;
    align-items: center;
}


.popup--visible .bg-popups {
    opacity: 1;
}

.popup--visible {
    visibility: visible;
    transition: visibility 0ms;
}

.popup-content {
    background: linear-gradient(to right, #BC8228, #ab6c0f);
    padding: 3px;
    border-radius: 3px;
    animation: hide-popup .3s forwards;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;

}

.itens-player p,
.popup-content span,
.popup-content p {
    font: bold clamp(0.5em, 1em + 1vw, .9em) / 1.5 "clash", Arial, Helvetica, sans-serif !important;
}

/* .popup-conf p,
.popup-inventory p,
.popup-shop p{
    font: bold clamp(0.5em, 0.01em + 2vw, .9em) / 1.5 "clash", Arial, Helvetica, sans-serif !important;
    font-weight: 400 !important;
} */

.popup--visible .popup-content {
    /* visibility: visible; */
    animation: show-popup .3s forwards;
}

@keyframes show-popup {
    0% {
        transform: scale(.7);

        opacity: 0;
    }

    45% {
        transform: scale(1.05);

        opacity: 1;
    }

    80% {
        transform: scale(.95);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes hide-popup {
    0% {
        transform: scale(1);

        opacity: 1;
    }

    100% {
        transform: scale(.5);

        opacity: 0;
    }
}

#btn-close-popups {
    /* display: block; */
    position: absolute;
    right: 0;
    float: right;
    /* width: 50px; */
    padding: 0;
    background-color: transparent;
    border: 0;
    padding: 5px 10px;
}

#btn-close-popups svg {
    width: 20px;
    fill: #7e4d0c;
    cursor: pointer;
}

.popup-conf {
    width: 500px;
    max-width: 100%;
    height: 500px;
    background-color: #cda15e;
    /*#BFB28F;/*#EDBD77;*/
    padding: 10px;
    color: rgb(219, 219, 219);
    /* Use flex: 1 para preencher o espaço disponível */
    /* flex: 1; */

    /* Use flexbox para fazer a div pai um container flexível */
    /* display: flex; */
    display: none;
    flex-direction: column;
}

.conf-sound-effects {
    padding: 20px;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conf-sound-effects p{
    padding: 20px 0 0 0;
}

.conf-sound-effects > div{
    display: flex;
    align-items: center;
    max-width: 500px;
    width: 100%;
    margin: 10px;
}

.conf-sound-effects > div svg{
    width: 40px;
    height: 40px;
    cursor: pointer;
    fill: #623c06;
}

.sound-btn{
    /* padding-top: 40px; */
    padding: 40px;
    display: flex;
    justify-content: center;
}

.sound-btn button {
    font-family: 'clash', Arial, Helvetica, sans-serif;

    padding: 10px;
    width: 100%;
    max-width: 50%;
    border: 0;
    border-radius: 10px;
    border-bottom: 5px solid #b46436;
    background-color: #FFB11D;
    color: #f0f0f0;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
    /* margin: 10px; */
    filter: drop-shadow(5px 1px 5px rgb(28, 27, 27));
    font-size: clamp(0.7em, 1.5vw, 1em);
    transition: 0.5s ease;


}

.range-slider{
    background-color: #e8e8e83e;
    padding: 6px 60px 5px 10px;
    margin-left: 10px;
    position: relative;
    width: 100%;
    border-radius: 10px;
}

.range-slider input[type="range"]{
    background: #623c06;
    width: 100%;
    height: 10px;
    outline: none;
    -webkit-appearance: none;
}
.range-slider input[type="range"]::-webkit-slider-thumb{
    background: #402b11;
    width: 20px;
    height: 30px;
    border-radius: 10%;
    cursor: pointer;
    transition: all 0.15s ease-in-out 0s;
    -webkit-appearance: none;
    appearance: none;
}
.range-slider input[type="range"]::-webkit-slider-thumb:hover,
.range-slider input[type="range"]:active::-webkit-slider-thumb{
    box-shadow: 0 0 5px #36240d;
}
.range-slider input[type="range"]::-moz-range-thumb{
    background: #402b11;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: all 0.15s ease-in-out 0s;
}
.range-slider input[type="range"]::-moz-range-thumb:hover,
.range-slider input[type="range"]:active::-moz-range-thumb{
    box-shadow: 0 0 5px #36240d;
}
.range-slider .range-value{
    color: #fff;
    background-color: #623c06;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 38px;
    height: 38px;
    width: 50px;
    transform: translateY(50%);
    position: absolute;
    bottom: 50%;
    right: 0;
}
::-moz-range-track{
    background: transparent;
    border: 0;
}






/* ******************** */


.popup-conf{
    width: 1200px;
    max-width: 100%;
    height: auto;
    /* height: 600px; */
    background-color: #cda15e;
    /*#BFB28F;/*#EDBD77;*/
    padding: 10px;
    color: rgb(236, 236, 236);
    /* Use flex: 1 para preencher o espaço disponível */
    /* flex: 1; */

    /* Use flexbox para fazer a div pai um container flexível */
    /* display: flex; */
    display: none;
    flex-direction: column;
}


/* tela de conf do usuario */



#msgAviso {
    transition:0.5s;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: clamp(0.5em, 0.5em + 2vw, 1.1em);
    font-family: 'clash', Arial, Helvetica, sans-serif;

    font-weight: 600; 
    padding: 10px;
    opacity: 0;
    animation: msg .3s linear;
}


@keyframes  msg {
    0%{
        transform: translateY(-100px);
        
    }
    50%{
        transform: translateY(-50px);
        
    }
    100%{
        transform: translateY(0px);
        
    }
}

#msgAviso.error{
    /* background-color: rgba(229, 60, 60, 0.826); */
    border: 1px solid rgba(241, 6, 6, 0.81);
    background-color: rgba(220, 16, 1, 0.684);
    box-shadow: 0px 0px 2px #ff0303;
    color: #771212;
    display: block;
    opacity: 1;
    z-index: 30000;
}

#msgAviso.success{
    border: 1px solid rgba(6, 241, 190, 0.81);
    background-color: rgba(12, 134, 143, 0.821);
    box-shadow: 0px 0px 2px #03ffc4;
    color: #03ddff;
    display: block;
    opacity: 1;
    z-index: 30000;
}


.popup-conf .profile-area{
    padding: 20px;
    /* background-color: #FAFAFA; */
    margin: auto;
    border-radius: 10px;
    /* box-shadow: 2px 2px 5px rgb(161, 161, 161); */
    width: 100%;
}


.popup-conf .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.popup-conf .profile-line{
    width: 10px;
    border-radius: 20px;
    background-color: #84510a;
}


.popup-conf .profile-content{
    padding: 20px;
    border-right: 2px solid #84510a;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.popup-conf .content-icon{
    width: 100%;
}

.popup-conf .profile {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 190px;
    height: 190px;
    background-color: #84510a;
    border-radius: 50%;
    overflow: hidden;
}

.popup-conf .profile img{
    width: 100%;
}
.popup-conf .profile svg {
    fill: white;
    width: 140px;
    height: auto;
}

.popup-conf .content-infos{
    margin-top: 20px;
    width: 100%;
    /* padding: 20px; */

}

.popup-conf .content-infos div{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
} 

/* .popup-conf .content-infos div p,
.popup-conf .content-infos div span{
    font-size: clamp(0.7em, 0.5em + 2vw, .9em) !important;
    font-family: 'clash', Arial, Helvetica, sans-serif !important;

} */

.data-name, .data-email, .data-form-pass, .data-logout{
    padding: 15px;
}


.profile-data{
    flex: 1;
}

.profile-data h3{
    margin-bottom: 10px;
    font-size: clamp(.9em, .5em + 3vw, 1.05em);
}

.name-icon{
    display: flex;
}

.name-icon p{
    margin-right: 10px;
}

.name-icon svg{
    fill: #84510a;
    cursor: pointer;
    width: 17px;
}

.alter-name{
    display: flex;
    align-items: center;
    display: none;
}

.alter-name input{
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #E5E5E5;
    
    font-size: clamp(0.8em, 0.5em + 2vw, 1em);
    font-family: 'clash', Arial, Helvetica, sans-serif;
}

.alter-name input:focus{
    outline: none;
}
.alter-name svg{
    cursor: pointer;
    fill: #84510a;
    width: 25px;
    margin-left: 5px;
}

.data-form-pass{
    border-bottom: 2px solid #84510a;
    border-top: 2px solid #84510a;
}

.data-form-pass form{
    display: flex;
    flex-direction: column;
}

.data-form-pass input{
    background-color:  #FAFAFA;
    width: 100%;
    max-width: 250px;
    padding: 10px ;
    border: 1px solid #E5E5E5;
    border-radius: 6px;
    margin-bottom: 15px;
    height: 35px;
    transition: .1s linear;
    
}

.data-form-pass input:focus{
    outline: 0;
    border: 1px solid #84510a;
}

.data-form-pass input::placeholder{
    color: #999999;
}

.data-form-pass label{
    display: flex;
    flex-direction: column;
}

.btn{
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 150px;
    border: 0;
    background-color: #84510a;
    color: white !important;
    font-weight: bold;
    font-size: clamp(0.8em, 0.5em + 2vw, 1em);
    cursor: pointer;
    transition: .5s linear;
    text-decoration: none;
}
.btn:hover{
    background-color: #623c06;
}

.data-logout, .form-btn {
    text-align: end;
}


/* validação da senha */

.validate{
    padding: 10px;
    width: 100%;
}
.pass-status{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pass-status > div:last-child{
    width: 100%;
    display: flex;

}

#fraca,
#media,
#forte{
    transition: .6s linear;
    border-radius: 10px;
    height: 8px;
}

#fraca{
    width: 1%;
    background-color: red;
}

#media{
    background-color: yellow;
}

#forte{
    background-color: green;
}


.pass-dica{
    display: flex;
    margin-right: 10px;
}

.pass-dica.treme{
    animation: treme .1s;
    animation-iteration-count: 3;
}

@keyframes treme {
    0%{margin-left: 0;}
    25%{margin-left: 3px;}
    50%{margin-left: 0;}
    75%{margin-left: -3px;}
    100%{margin-left: 0;}
}

.dica{
    font-weight: 800;
    font-size: 10px;
    border-radius: 50%;
    box-shadow: 0 0 0 1.5px #84510a;
    color: #84510a;
    padding: 1px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
}


.msg-dica{
    display: none;
    position:absolute;
    z-index: 1000;
    box-shadow: 2px 2px 5px rgb(161, 161, 161);
    background-color: #FAFAFA;
    border-radius: 5px;
    padding: 8px;
    margin: -7px 0 0 28px;
    text-align: left !important;
    color: #141414;
    
    font-size: clamp(0.8em, 0.01em + 2vw, 1em);
}

.msg-dica.open{
    display: block;
}

.msg-dica ul{
    padding-left: 20px;
}

.msg-dica ul li div{
    display: flex;
    font-size: clamp(0.8em, 0.01em + 2vw, 1em);
}

.msg-dica ul li svg{
    width: 22px;
    fill: green;
}
.msg-dica::before{
    content: "";
    top:6%;
    left:-5px;
    background-color: #FAFAFA;
    width:10px;
    height: 10px;
    color: #ffffff;
    position: absolute;
    z-index: -1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.dica:hover ~ .msg-dica{
    display: block !important;
}

#icon-correct{
    display: none;
}


@media (max-width: 495px){
    .profile-line{
        display: none;
    }

    .profile-content{
        flex: 1;
        border: none;
    }

    .profile-area{
        box-shadow: none;
    }
}


/* *********************** */

.popup-inventory,
.popup-shop {
    width: 920px;
    max-width: 100%;
    height: 600px;
    background-color: #cda15e;
    /*#BFB28F;/*#EDBD77;*/
    padding: 10px;
    color: rgb(219, 219, 219);
    display: none;
    flex-direction: column;
}

.popup-inventory p {
    font: bold clamp(0.5em, 1vw, .8em) / 1.5 "clash", Arial, Helvetica, sans-serif !important;
}


.popup-conf.active,
.popup-inventory.active,
.popup-shop.active {
    display: flex;
}


/* .invent-itens {
    padding: 10px;

    display: flex;
    flex-direction: column;
} */

.popup-conf h1{
    text-align: center;
    font-size: clamp(1em, 0.05em + 2vw, 1.5em);

    font-family: 'clash', Arial, Helvetica, sans-serif;
    
}
.popup-shop h1 {
    /* color: rgb(224, 224, 224); */
    padding: 10px;
    text-align: center;
    font-size: clamp(1em, 0.05em + 2vw, 1.5em);

    font-family: 'clash', Arial, Helvetica, sans-serif;

}

.popup-conf-guias,
.popup-invent-guias,
.popup-shop-guias {
    display: flex;
    cursor: pointer;
    /* display: inline-block; */
}


.popup-conf-guias div,
.popup-invent-guias div,
.popup-shop-guias div {
    border-top: 2px solid #bc812800;
    border-left: 2px solid #bc812800;
    border-right: 2px solid #bc812800;
    padding: 5px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-color: #956b3d;
    font-size: clamp(0.3em, 0.01em + 2vw, .9em);
    color: white;
}

.popup-conf-guias div.selected,
.popup-invent-guias div.selected,
.popup-shop-guias div.selected {
    border-top: 2px solid #BC8228;
    border-left: 2px solid #BC8228;
    border-right: 2px solid #BC8228;
    background-color: #C5781D;
}


.popup-conf-screm{
    flex: 1;
    background-color: #C5781D;
    display: none;
}

.popup-invent-screm,
.popup-shop-screm {
    flex: 1;
    background-color: #C5781D;
    padding: 10px;
    display: none;
    /* Alterado para flex para controlar a altura dos elementos */
    flex-wrap: wrap;
    /* Permitir que os elementos quebrem para a próxima linha */
    gap: 15px;
    /* Espaçamento entre os elementos */
    overflow-y: auto;
    /* Adicionar uma barra de rolagem vertical se necessário */
    align-content: flex-start;
    /* justify-content: space-evenly; */
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}


.popup-conf-screm.selected,
.popup-invent-screm.selected,
.popup-shop-screm.selected {
    display: flex;
}

.popup-shop-screm.selectedP{
    display: flex;
    flex-wrap:initial;
    gap: 0px;
    align-content: normal;
    justify-content: space-between;
    align-content: flex-start;
}

.popup-shop-screm.selectedP .shop-item{
    cursor: pointer;
}

.popup-shop-screm.selectedP .shop-item:hover{
    transform: scale(1.08);
    filter: drop-shadow(5px 1px 5px rgb(28, 27, 27));

}



.popup-invent-screm::-webkit-scrollbar,
.popup-shop-screm::-webkit-scrollbar {
    width: 12px;
}

.popup-invent-screm::-webkit-scrollbar-track,
.popup-shop-screm::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #DBCCA4;
    border: 1px solid #13131369;
    box-shadow: inset 0 0 6px rgba(124, 103, 45, 0.668);
}

.popup-invent-screm::-webkit-scrollbar-thumb,
.popup-shop-screm::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 1px solid #17171769;

    background-color: #baa363;
}

/* PACOTES */

.container-pacotes{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-content: flex-start;
}


.info-pacote{
    background-color: #b46436;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* width: 270px;    */
    width: 0px;
    overflow: hidden; 
    filter: drop-shadow(5px 1px 5px rgb(28, 27, 27));
   
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width .3s ease, padding .3s ease;
}

.info-pacote.active{
    width: 250px;
    padding: 10px;
}

.info-pacote > div {
    min-width: 220px;
}

.info-pacote svg{
    float: right;
    width: 25px;
    height: 25px;
    margin-bottom: -12px;
    margin-right: -12px;
    margin-top: -10px;
    cursor: pointer;
    fill: #fff;
}

.info-pacote p{
    font-size: clamp(.5em, .5em + 2vw, .8em);
    margin-bottom: 5px;
    color: rgb(240, 240, 240);
}

.info-pacote-tema{
    width: 100%;
    margin-top: 5px;
}
.info-pacote-avatar{
    width: 100%;
    /* background-color: #03ddff; */
    /* padding: 5px; */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-pacote-avatar div{
    width: 90px;

}

.info-pacote-tema img,
.info-pacote-avatar img{
    width: 100%;
}

/* itens do shop e inventario *****************************/

.invent-item,
.shop-item {
    width: 200px;
    background-color: #b46436;
    border: 2px solid rgb(159, 95, 5);
    margin-bottom: 20px;
    /* Espaçamento inferior entre os elementos */
    border-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
    /* Garantir que o padding não afete a largura */
}

.shop-item{
    transition: .3s ease;
}

.invent-item {
    background-color: #00000077;
    border: 2px solid #00000062;
    box-shadow: inset 1px 1px 5px 1px rgba(28, 27, 27, 0.901);
    cursor: pointer;
    transition: .2s ease;
    position: relative;
}


.invent-item p{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100000;
    height: auto;
    width: 100%;
    max-width: 80%;
    transform: translate(-50%, -50%);
    font-size: clamp(0.5em, 1.5vw, .6em);

    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    opacity: 0;
    /* Inicia invisível */
    transition: opacity 0.3s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    top: 13px;
    overflow: hidden;
}

.invent-item:hover p{
    opacity: 1;
}

.select-use-item{
    justify-content: center;
    position: absolute;
    width: 100%;
    /* background-color: #03ddff; */
    margin-top: -25px;
    margin-left: -10px;
    gap: 5px;
    display: none;   
}

.select-use-item svg{
    width: 20px;
    fill: #11da6f;
}


.invent-item.selected {
    border: 2px solid rgb(17, 221, 85);
}

.select-use-item.selected{
    display: flex;
}


.invent-item:hover {
    /* border: 2px solid rgba(159, 95, 5, 0.656); */
    transform: scale(1.05);
}


.invent-item h3,
.shop-item h3 {
    /* font: bold clamp(0.5em, 0.01em + 2vw, .9em) / 1.5 "clash", Arial, Helvetica, sans-serif !important; */
    padding: 10px !important;
    /* font-size: clamp(0.5em, 0.01em + 2vw, .9em);
    font-family: "clash", Arial, Helvetica, sans-serif; */
}


.shop-item .item-img {
    /* background-color: #1BACD3; */
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: clamp(0.5em, 1.5vw, .7em);
}

.shop-item .item-img div {
    flex: 1;
}

.shop-item .item-img div,
.invent-item .item-img div {
    width: 100%;
    height: 180px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-item .item-img,
.invent-item .item-img{

    display: flex;
    align-items: center;
    /* padding: 5px; */
    font-size: clamp(0.5em, 1.5vw, .7em);
}

.shop-item .item-img img,
.invent-item .item-img img{
    max-height: 100%;

    max-width: 100%; /* A imagem não será maior que o container */
    height: auto;   /* A altura será ajustada automaticamente para manter a proporção */
    display: block; /* Remove o espaço embaixo da imagem (comportamento padrão inline) */

    filter: drop-shadow(5px 1px 5px rgb(28, 27, 27));

}

#bc1i{
    width: 35px;
}

#bc2i{
    width: 35px;
}

#bc3i{
    width: 45px;
}

#bc4i{
    width: 65px;
}

.shop-item .item-img p{
    text-wrap: wrap;
    font-size: 10px;
    flex: 1;
}



.item-value {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: clamp(0.7em, 1.5vw, .9em);

}

.value-type {
    position: relative;
    display: inline-block;
    /* Garante que o contêiner do chapéu se ajuste ao tamanho da imagem */
    z-index: 99;
    margin-right: -15px;
    margin-top: 3px;
}

.value-type img {
    /* max-width: 100%; */
    width: 35px;
}

.value-type.dd {
    margin-right: -18px;
    /* margin-top: 3px; */
}

.value-type.dd img{
    width: 40px;
}
.value-price {
    /* background-color: #847E66; */
    background: linear-gradient(to top, #252525c7 60%, #2f2f2fca 40%) padding-box,
        linear-gradient(to top, #343331, #1e1d1c) border-box;
    border: 3px solid rgba(36, 36, 36, 0.782);
    /* padding: 2px; */
    width: 100%;
    /* position: relative;
    display: inline-block;   */
    border-radius: 3px;
    height: 30px;
    /* margin-right: 10px; */
    box-shadow: 1px 1px 5px 1px rgb(28, 27, 27);

    /* font-size: 10px; */
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
    padding-right: 5px;
}

.item-value p {
    /* background-color: #262626; */
}

.value-btn {
    /* position: relative;
    display: inline-block; */
    /* Garante que o contêiner do chapéu se ajuste ao tamanho da imagem */
    /* z-index: 99;
    margin-left: -25px; */



}

.value-btn div {
    padding: 5px 15px;
    /* width: 100%; */
    border: 0;
    border-radius: 5px;
    border-bottom: 5px solid #b46436;
    background-color: #FFB11D;
    color: #f0f0f0;
    font-family: 'clash', Arial, Helvetica, sans-serif;

    cursor: pointer;
    line-height: 1;
    text-decoration: none;
    /* margin: 10px; */
    filter: drop-shadow(5px 1px 5px rgb(28, 27, 27));
    font-size: clamp(0.7em, 1.5vw, .9em);
    transition: 0.5s ease;
    
}


.shadow-modal-confirm{
    z-index: 20000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000d6;
    display: none;
    /* display: flex; */
    overflow: hidden;
    animation: fadeIn 0.3s ease;
}

.shadow-modal-confirm.active {
    display: flex;
    /* animation: fadeIn 0.3s ease-in-out; */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal-confirm {
    margin: auto;
    background-color: #FAFAFA;
    padding: 20px;
    border-radius: 10px;
    width: 95%;
    max-width: 500px;
    text-align: center;
    color: #1c1c1c;


}


.modal-confirm div {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.modal-confirm .confirm-compra{
    background-color: #d2d2d2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #1e1e1e;
    
    font-size: clamp(.5em, .5em + 1vw, .8em);
    color: #daa33c;

}

.modal-confirm .confirm-compra p{
    display: inline-block;

}

.modal-confirm .confirm-compra .confirmP{
    font-weight: bold;
}

.modal-confirm div .btn {
    width: auto;
    margin: 10px 5px;
}

.modal-confirm div .btn.no {
    background-color: #b6b6b6;
}

.modal-confirm h1 {
    font-size: clamp(.8em, .8em + 3vw, 1em);
    margin: 10px;
    font-family: 'clash', Arial, Helvetica, sans-serif;

}

.modal-confirm p {
    font-size: clamp(.8em, .5em + 2vw, 1em);
    margin: 10px;
}

.modal-confirm svg {
    fill: #dfdf49;
    width: 50px;
}

@media (max-width: 600px) {

    .container {
        max-width: 100%;
    }

    .itens-player {
        padding: 10px;

    }

    .chapeu img {
        width: 80px;
        margin-bottom: -25px;
    }

    .chapeu p {
        font-size: clamp(0.3em, 0.01em + 2vw, .5em);
    }

    .trofeu-status,
    .item-coin-status,
    .item-diamond-status,
    .item-level-status {
        height: 25px;
    }

    .icon-plus img {
        width: 40px;
    }

    .icon-coin img {
        width: 50px;
    }

    .icon-diamond img {
        width: 55px;
    }

    .infos-user-bg {
        margin-top: -10px;
        width: 100%;
        max-width: 70%;
        padding: 10px;
        border: 2px solid #847E66;
    }

    .user-avatar {
        margin-right: 10px;
        width: 50px;
        height: 40px;

    }

    .trofeu-icon img {
        width: 50px;

    }

    .nav-btn-geral img {
        width: 60px;
    }

    .navigations-buttons {
        padding: 10px;
    }

    .container-buttons {
        max-width: 100%;
    }

    .nav-bg {
        padding: 15px;

    }

    .nav-btn-geral {
        width: 250px;
    }

    .nav-btn-play {
        max-width: 100%;
        width: 200px;
    }
}

@media (max-width: 425px) {

    .chapeu img {
        width: 70px;
        margin-bottom: -20px;
        margin-left: -5px;

    }

    .chapeu p {
        font-size: clamp(0.3em, 0.01em + 2vw, .4em);
        transform: translate(-55%, -55%);
        top: 55%;
        left: 40%;
    }

    .item-level-status p {
        font-size: clamp(0.3em, 0.01em + 2vw, .6em);

    }

    .trofeu-status,
    .item-coin-status,
    .item-diamond-status,
    .item-level-status {
        height: 20px;
    }

    .trofeu-status,
    .item-coin-status,
    .item-diamond-status {
        padding-right: 15px;
    }

    .icon-plus img {
        width: 30px;
    }

    .icon-coin img {
        width: 40px;
    }

    .icon-diamond img {
        width: 45px;
    }

    .user-avatar {
        margin-right: 5px;
        width: 40px;
        height: 30px;

    }

    .user-name p {
        font-size: clamp(0.4em, 1.5vw, .8em);

    }


    .user-trofeus {
        width: 150px;
    }

    .trofeu-status {
        padding-right: 0px;
    }

    .trofeu-icon img {
        width: 45px;

    }


    .nav-btn-geral img {
        width: 50px;
    }

    .nav-btn-play {
        max-width: 100%;
        width: 150px;
    }

    .nav-btn-play button {
        font-size: clamp(0.6em, 1.5vw, .8em);

    }
}