<!-- <p>home-page works!</p> -->
<h2 id="msgAviso"></h2>
<div class="bg-image">
    <div class="container">
        <!-- DIV TOPO -->
        <div class="itens-player">


            <div class="item-level">

                <div class="item-level-icon">
                    <div class="chapeu">
                        <img src="../../assets/images/img-home-page/hatPirate.png" alt="Chapéu">
                        <p>1</p>
                    </div>
                </div>

                <div class="item-level-status">
                    <div></div>
                    <p>50/100</p>
                </div>

            </div>

            <div class="item-coin">

                <div class="icon-plus" (click)="openTab('moedas'); fnOpen('shop');">
                    <img src="../../assets/images/img-home-page/pluscoins.png" alt="">
                </div>
                <div class="item-coin-status">
                    <!-- <div></div> -->
                    <p>35.500</p>
                </div>
                <div class="icon-coin">
                    <img src="../../assets/images/img-home-page/coin.png" alt="">
                </div>
            </div>
            <div class="item-diamond" (click)="openTab('diamonds'); fnOpen('shop');">

                <div class="icon-plus">
                    <img src="../../assets/images/img-home-page/pluscoins.png" alt="">
                </div>
                <div class="item-diamond-status">
                    <!-- <div></div> -->
                    <p>500</p>
                </div>
                <div class="icon-diamond">
                    <img src="../../assets/images/img-home-page/diamond.png" alt="">
                </div>
            </div>
        </div>


        <div class="infos-user">
            <div class="infos-user-bg">


                <div class="user-icon">
                    <div class="user-avatar">
                        <img src="../../assets/images/img-home-page/pirata1.png" alt="">
                    </div>
                    <div class="user-name">
                        <p>{{userData?.nome}}</p>
                    </div>
                </div>

                <div class="user-trofeus">

                    <div class="trofeu-icon">
                        <img src="../../assets/images/img-home-page/trofeu.png">
                    </div>

                    <div class="trofeu-status">
                        <p>5</p>
                    </div>


                </div>
            </div>
        </div>

        <div class="container-popup-ranking">
            <div class="popup-ranking">
                <div class="rank-title">
                    <h3>Ranking</h3>
                </div>

                <div class="rank-classifications">

                    <div class="rank-item">
                        <div class="item-position">
                            <p>1</p>
                        </div>
                        <div class="item-avatar">
                            <!-- <div class="user-avatar"> -->
                            <img src="../../assets/images/img-home-page/pirata1.png" alt="">
                            <!-- </div> -->
                        </div>
                        <div class="item-name">
                            <p>UserName</p>

                        </div>
                        <div class="item-trofeus">
                            <div class="item-trofeu-status">


                                <div class="item-trofeu-icon">
                                    <img src="../../assets/images/img-home-page/trofeu.png">
                                </div>
                                <p>500</p>


                            </div>
                        </div>
                    </div>

                    <div class="rank-item">
                        <div class="item-position">
                            <p>2</p>
                        </div>
                        <div class="item-avatar">
                            <!-- <div class="user-avatar"> -->
                            <img src="../../assets/images/img-home-page/pirata1.png" alt="">
                            <!-- </div> -->
                        </div>
                        <div class="item-name">
                            <p>UserName</p>

                        </div>
                        <div class="item-trofeus">
                            <div class="item-trofeu-status">


                                <div class="item-trofeu-icon">
                                    <img src="../../assets/images/img-home-page/trofeu.png">
                                </div>
                                <p>51</p>


                            </div>
                        </div>
                    </div>

                    <div class="rank-item">
                        <div class="item-position">
                            <p>3</p>
                        </div>
                        <div class="item-avatar">
                            <!-- <div class="user-avatar"> -->
                            <img src="../../assets/images/img-home-page/pirata1.png" alt="">
                            <!-- </div> -->
                        </div>
                        <div class="item-name">
                            <p>UserName</p>

                        </div>
                        <div class="item-trofeus">
                            <div class="item-trofeu-status">


                                <div class="item-trofeu-icon">
                                    <img src="../../assets/images/img-home-page/trofeu.png">
                                </div>
                                <p>10</p>


                            </div>
                        </div>
                    </div>

                    <div class="rank-item">
                        <div class="item-position">
                            <p>4</p>
                        </div>
                        <div class="item-avatar">
                            <!-- <div class="user-avatar"> -->
                            <img src="../../assets/images/img-home-page/pirata1.png" alt="">
                            <!-- </div> -->
                        </div>
                        <div class="item-name">
                            <p>UserName</p>

                        </div>
                        <div class="item-trofeus">
                            <div class="item-trofeu-status">


                                <div class="item-trofeu-icon">
                                    <img src="../../assets/images/img-home-page/trofeu.png">
                                </div>
                                <p>5</p>


                            </div>
                        </div>
                    </div>


                    <div class="rank-item">
                        <div class="item-position">
                            <p>4</p>
                        </div>
                        <div class="item-avatar">
                            <!-- <div class="user-avatar"> -->
                            <img src="../../assets/images/img-home-page/pirata1.png" alt="">
                            <!-- </div> -->
                        </div>
                        <div class="item-name">
                            <p>UserName</p>

                        </div>
                        <div class="item-trofeus">
                            <div class="item-trofeu-status">


                                <div class="item-trofeu-icon">
                                    <img src="../../assets/images/img-home-page/trofeu.png">
                                </div>
                                <p>5</p>


                            </div>
                        </div>
                    </div>


                    <div class="rank-item">
                        <div class="item-position">
                            <p>4</p>
                        </div>
                        <div class="item-avatar">
                            <!-- <div class="user-avatar"> -->
                            <img src="../../assets/images/img-home-page/pirata1.png" alt="">
                            <!-- </div> -->
                        </div>
                        <div class="item-name">
                            <p>UserName</p>

                        </div>
                        <div class="item-trofeus">
                            <div class="item-trofeu-status">


                                <div class="item-trofeu-icon">
                                    <img src="../../assets/images/img-home-page/trofeu.png">
                                </div>
                                <p>5</p>


                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>


        <div class="navigations-buttons">
            <div class="container-buttons">

                <div class="nav-btn-geral">
                    <div class="nav-bg">
                        <div class="icon-conf" (mouseover)="playSoundSelecao()" (click)="fnOpen('conf');">
                            <p>Configurar</p>
                            <img src="../../assets/images/img-home-page/conf.png" alt="">
                        </div>
                        <div class="icon-inventory" (mouseover)="playSoundSelecao()" (click)="fnOpen('inventory');">
                            <p>Inventário</p>
                            <img src="../../assets/images/img-home-page/inventory.png" alt="">
                        </div>
                        <div class="icon-shop" (mouseover)="playSoundSelecao()" (click)="fnOpen('shop');">
                            <p>Shop</p>
                            <img src="../../assets/images/img-home-page/shop.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="nav-btn-play">
                    <button (mouseover)="playSoundBtnBatalha()" (click)="fnCarregar()">
                        <div>Batalhar!</div>
                    </button>
                </div>

            </div>
        </div>


    </div>
</div>


<div class="popups" [ngClass]="open? 'popup--visible': ''">
    <div class="bg-popups">
        <div class="popup-content">
            <button id="btn-close-popups" (click)="open = false; this.somHomePopup.play();">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                    <path
                        d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                </svg>
            </button>

            <!-- POPUP DA CONFIG ------------------------------------------------------- -->

            <div class="popup-conf" [class.active]="activePopUp === 'conf'">
                <h1>Configurações</h1>
                <div class="popup-conf-guias">

                    <div (click)="openTabConf('perfil')" [class.selected]="activeTabConf === 'perfil'">
                        <p>Perfil</p>
                    </div>
                    <div (click)="openTabConf('som')" [class.selected]="activeTabConf === 'som'">
                        <p>Sons</p>
                    </div>
                </div>

                <div class="popup-conf-screm" [class.selected]="activeTabConf === 'perfil'">

                    <!-- tela de conf do usuario -->
                    <!-- <h2 id="msgAviso"></h2> -->

                    <div class="profile-area">



                        <div class="content">
                            <div class="profile-line"></div>

                            <div class="profile-content">

                                <div class="content-icon">
                                    <div class="profile">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                            <path
                                                d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                                        </svg>
                                    </div>
                                </div>

                                <div class="content-infos">
                                    <div>
                                        <span>Coleções:</span>
                                        <p id="colecoes">0</p>
                                    </div>
                                    <div>
                                        <span>Tarefas:</span>
                                        <p id="tarefas">0</p>
                                    </div>
                                    <div>
                                        <span>Tarefas conluidas:</span>
                                        <p id="concluidas">0</p>
                                    </div>
                                </div>

                            </div>

                            <div class="profile-data">

                                <div class="data-name">
                                    <h3>Nome:</h3>
                                    <div class="name-icon" id="divName">
                                        <p id="nomeUser">nome</p>
                                        <svg (click)="fnOpenAlterSenha()" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                        </svg>
                                    </div>
                                    <div class="alter-name" id="divAlter">
                                        <input type="text" id="txtName" value="testt">
                                        <svg (click)="fnFechaAlterNome()" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                        </svg>
                                        <svg (click)="fnSalvaNovoNome()" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                                        </svg>
                                    </div>
                                </div>

                                <div class="data-email">
                                    <h3>E-mail:</h3>
                                    <p>nome&#64;gmail.com</p>
                                </div>

                                <div class="data-form-pass">
                                    <h3>Trocar senha:</h3>
                                    <form id="formAlterPass">
                                        <!-- <input type="hidden" id="codUser"> -->
                                        <input type="password" id="txtSenhaAntiga" placeholder="Senha atual">
                                        <!-- <input type="password" id="txtSenhaNova" placeholder="Senha nova"> -->
                                        <label for="txtSenhaNova">
                                            <input type="password" name="txtSenhaNova" id="txtSenhaNova"
                                                (keyup)="fnStatusPass($event)" placeholder="Senha nova">
                                            <input type="password" name="txtComfirm" id="txtComfirm"
                                                placeholder="Confirmar senha nova">
                                            <div class="validate">
                                                <div class="pass-status">
                                                    <div class="pass-dica">

                                                        <div class="dica" (click)="fnDica()">
                                                            ?
                                                        </div>

                                                        <div class="msg-dica">
                                                            Uma senha forte deve conter, ao menos:
                                                            <ul>
                                                                <li>
                                                                    <div id="eig">6 caracteres;</div>
                                                                </li>
                                                                <li>
                                                                    <div id="num">1 número;</div>
                                                                </li>
                                                                <li>
                                                                    <div id="min">1 letra minúscula;</div>
                                                                </li>
                                                                <li>
                                                                    <div id="mai">1 letra maiúscula;</div>
                                                                </li>
                                                                <li>
                                                                    <div id="esp">1 caracter especial.</div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>


                                                    <div>
                                                        <div id="fraca" class="fraca"
                                                            [ngStyle]="{'width.%': larguraFraca}"></div>
                                                        <div id="media" class="media"
                                                            [ngStyle]="{'width.%': larguraMedia}"></div>
                                                        <div id="forte" class="forte"
                                                            [ngStyle]="{'width.%': larguraForte}"></div>
                                                    </div>

                                                </div>


                                                <p id="aviso"></p>
                                            </div>
                                        </label>

                                    </form>
                                    <div class="form-btn">
                                        <button class="btn" id="btnAlterSenha" (click)="fnAlterSenha()">Alterar</button>
                                    </div>
                                </div>



                                <div class="data-logout">
                                    <button class="btn" (click)="fnLogout()">Sair</button>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>


                <div class="popup-conf-screm" [class.selected]="activeTabConf === 'som'">
                    <!-- <h1>Configurações</h1> -->
                    <div class="conf-sound-effects">
                        <input id="slider" type="range" min="4" max="32" value="16" />
                        <!-- <input type="range" min="1" max="100" value="50" class="slider" id="myRange"> -->
                    </div>
                    <div class="conf-music">
                        ..
                    </div>


                </div>


            </div>



            <!-- POPUP DO INVENTARIO ------------------------------------------------------- -->


            <div class="popup-inventory" [class.active]="activePopUp === 'inventory'">

                <div class="invent-itens">
                    <div class="popup-invent-guias">

                        <!-- essas guias vai vir do banco de dados -->
                        <div (click)="openTabInvent('todos')" [class.selected]="activeTabInvent === 'todos'">
                            <p>Todos</p>
                        </div>
                        <!-- <div (click)="openTabInvent('pants')" [class.selected]="activeTabInvent === 'pants'">
                            <p>Calças</p>
                        </div> -->

                        <div *ngFor="let guia of guiasInvent" (click)="openTabInvent(guia.seletor)"
                            [class.selected]="activeTabInvent === guia.seletor">
                            <p>{{guia.titulo}}</p>
                        </div>

                    </div>

                    <!-- vai vir do banco -->
                    <div class="popup-invent-screm" [class.selected]="activeTabInvent === 'todos'">
                        <!-- vai vir do banco -->
                        <div class="invent-item" *ngFor="let item of itensInvent"
                            [class.selected]="oAvatar[item.categoria] === item.titulo">
                            <!-- <h3>100 diamantes</h3> -->
                            <div class="item-img" (click)="fnSelectedClothe(item)">
                                <div>
                                    <img [src]="item.imgUrl" alt="">
                                </div>
                                <!-- <p>Descrição</p> -->
                            </div>
                        </div>


                    </div>

                    <div *ngFor="let guia of guiasInvent" class="popup-invent-screm"
                        [class.selected]="activeTabInvent === guia.seletor">
                        <!-- vai vir do banco -->

                        <ng-container *ngFor="let item of itensInvent">

                            <div class="invent-item" *ngIf="guia.seletor === item.categoria"
                                [class.selected]="oAvatar[item.categoria] === item.titulo">
                                <!-- <h3>100 diamantes</h3> -->
                                <div class="item-img" (click)="fnSelectedClothe(item)">
                                    <div>
                                        <img [src]="item.imgUrl" alt="">
                                    </div>
                                    <!-- <p>Descrição</p> -->
                                </div>
                            </div>
                        </ng-container>


                    </div>


                </div>
                <div class="invent-avatar">
                    <!-- avatar -->
                    <!-- <app-dress-up-avatar></app-dress-up-avatar> -->

                    <!-- <div> -->
                    <!-- <div id="backdrop"> -->
                    <div *ngFor="let guia of guiasInvent" class="clothes" [id]="guia.seletor"></div>
                    <div id="avatar"></div>
                    <!-- </div> -->
                    <!-- </div> -->
                </div>
            </div>


            <!-- POPUP DO SHOP ------------------------------------------------------- -->

            <div class="popup-shop" [class.active]="activePopUp === 'shop'">
                <h1>Shopping</h1>
                <div class="popup-shop-guias">
                    <!-- essas guias vai vir do banco de dados -->
                    <div (click)="openTab('moedas')" [class.selected]="activeTab === 'moedas'">
                        <p>Coins</p>
                    </div>
                    <div (click)="openTab('diamonds')" [class.selected]="activeTab === 'diamonds'">
                        <p>Diamonds</p>
                    </div>

                    <div *ngFor="let cat of dataCategorias" (click)="openTab(cat.titulo)"
                        [class.selected]="activeTab === cat.titulo">
                        <p>{{cat.titulo}}</p>
                    </div>



                </div>

                <!-- Vai vir do banco -->
                <div class="popup-shop-screm" [class.selected]="activeTab === 'moedas'">
                    <div class="shop-item">
                        <h3>100 diamantes</h3>
                        <div class="item-img">
                            <div>
                                <img src="../../assets/images/img-home-page/pirata1.png" alt="">
                            </div>
                            <p>Descrição</p>
                        </div>
                        <div class="item-value">
                            <div class="value-type">
                                <img src="../../assets/images/img-home-page/coin.png" alt="">
                            </div>
                            <div class="value-price">
                                <p>750,00</p>
                            </div>
                            <div class="value-btn">
                                <div>
                                    Buy
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- Vai vir do banco -->


                <!-- Vai vir do banco -->
                <div class="popup-shop-screm" [class.selected]="activeTab === 'diamonds'">
                    <!-- Vai vir do banco -->

                </div>

                <div *ngFor="let cat of dataCategorias" class="popup-shop-screm"
                    [class.selected]="activeTab === cat.titulo">
                    <ng-container *ngFor="let item of dataItens">
                        <!-- Vai vir do banco falar pro flavio colocar o idda categoria no item -->
                        <div *ngIf="item.categoria === cat.titulo && item.ativo === true" class="shop-item">
                            <h3>{{item.titulo}}</h3>
                            <div class="item-img">
                                <div>
                                    <!-- colocarr a imagemmm! -->
                                    <img src="{{'data:image/jpg;base64,' + item.imageData}}" alt="">
                                </div>
                                <p>{{item.descricao}}</p>
                            </div>
                            <div class="item-value">

                                <div class="value-type" *ngIf="item.tipoPagamento === 'MOEDA'">
                                    <img src="../../assets/images/img-home-page/coin.png" alt="">
                                </div>

                                <div class="value-type dd" *ngIf="item.tipoPagamento === 'DIAMANTE'">
                                    <img src="../../assets/images/img-home-page/diamond.png" alt="">
                                </div>
                                <div class="value-price">

                                    <!-- formatar o valor -->
                                    <p>{{ formatarValor(item.valor) }}</p>
                                </div>
                                <div class="value-btn">
                                    <div>
                                        Buy
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>