<!-- <p>home-page works!</p> -->

<div class="bg-image">
    <div class="container">
        <!-- DIV TOPO -->
        <div class="itens-player">


            <div class="item-level">

                <div class="item-level-icon">
                    <div class="chapeu">
                        <img src="../../assets/images/img-home-page/hatPirate.png" alt="Chapéu">
                        <p>1</p>
                    </div>
                </div>

                <div class="item-level-status">
                    <div></div>
                    <p>50/100</p>
                </div>

            </div>

            <div class="item-coin">

                <div class="icon-plus">
                    <img src="../../assets/images/img-home-page/pluscoins.png" alt="">
                </div>
                <div class="item-coin-status">
                    <!-- <div></div> -->
                    <p>35.500</p>
                </div>
                <div class="icon-coin">
                    <img src="../../assets/images/img-home-page/coin.png" alt="">
                </div>
            </div>
            <div class="item-diamond">

                <div class="icon-plus">
                    <img src="../../assets/images/img-home-page/pluscoins.png" alt="">
                </div>
                <div class="item-diamond-status">
                    <!-- <div></div> -->
                    <p>500</p>
                </div>
                <div class="icon-diamond">
                    <img src="../../assets/images/img-home-page/diamond.png" alt="">
                </div>
            </div>
        </div>


        <div class="infos-user">
            <div class="infos-user-bg">


                <div class="user-icon">
                    <div class="user-avatar">
                        <img src="../../assets/images/img-home-page/pirata1.png" alt="">
                    </div>
                    <div class="user-name">
                        <p>UserName</p>
                    </div>
                </div>

                <div class="user-trofeus">

                    <div class="trofeu-icon">
                        <img src="../../assets/images/img-home-page/trofeu.png">
                    </div>

                    <div class="trofeu-status">
                        <p>5</p>
                    </div>


                </div>
            </div>
        </div>

        <div class="container-popup-ranking">
            <div class="popup-ranking">
                <div class="rank-title">
                    <h3>Ranking</h3>
                </div>

                <div class="rank-classifications">

                    <div class="rank-item">
                        <div class="item-position">
                            <p>1</p>
                        </div>
                        <div class="item-avatar">
                            <!-- <div class="user-avatar"> -->
                                <img src="../../assets/images/img-home-page/pirata1.png" alt="">
                            <!-- </div> -->
                        </div>
                        <div class="item-name">
                            <p>UserName</p>

                        </div>
                        <div class="item-trofeus">
                            <div class="item-trofeu-status">


                                <div class="item-trofeu-icon">
                                    <img src="../../assets/images/img-home-page/trofeu.png">
                                </div>
                                <p>500</p>


                            </div>
                        </div>
                    </div>

                    <div class="rank-item">
                        <div class="item-position">
                            <p>2</p>
                        </div>
                        <div class="item-avatar">
                            <!-- <div class="user-avatar"> -->
                                <img src="../../assets/images/img-home-page/pirata1.png" alt="">
                            <!-- </div> -->
                        </div>
                        <div class="item-name">
                            <p>UserName</p>

                        </div>
                        <div class="item-trofeus">
                            <div class="item-trofeu-status">
                                

                                <div class="item-trofeu-icon">
                                    <img src="../../assets/images/img-home-page/trofeu.png">
                                </div>
                                <p>51</p>


                            </div>
                        </div>
                    </div>

                    <div class="rank-item">
                        <div class="item-position">
                            <p>3</p>
                        </div>
                        <div class="item-avatar">
                            <!-- <div class="user-avatar"> -->
                                <img src="../../assets/images/img-home-page/pirata1.png" alt="">
                            <!-- </div> -->
                        </div>
                        <div class="item-name">
                            <p>UserName</p>

                        </div>
                        <div class="item-trofeus">
                            <div class="item-trofeu-status">
                                

                                <div class="item-trofeu-icon">
                                    <img src="../../assets/images/img-home-page/trofeu.png">
                                </div>
                                <p>10</p>


                            </div>
                        </div>
                    </div>

                    <div class="rank-item">
                        <div class="item-position">
                            <p>4</p>
                        </div>
                        <div class="item-avatar">
                            <!-- <div class="user-avatar"> -->
                                <img src="../../assets/images/img-home-page/pirata1.png" alt="">
                            <!-- </div> -->
                        </div>
                        <div class="item-name">
                            <p>UserName</p>

                        </div>
                        <div class="item-trofeus">
                            <div class="item-trofeu-status">
                                

                                <div class="item-trofeu-icon">
                                    <img src="../../assets/images/img-home-page/trofeu.png">
                                </div>
                                <p>5</p>


                            </div>
                        </div>
                    </div>

                    
                    <div class="rank-item">
                        <div class="item-position">
                            <p>4</p>
                        </div>
                        <div class="item-avatar">
                            <!-- <div class="user-avatar"> -->
                                <img src="../../assets/images/img-home-page/pirata1.png" alt="">
                            <!-- </div> -->
                        </div>
                        <div class="item-name">
                            <p>UserName</p>

                        </div>
                        <div class="item-trofeus">
                            <div class="item-trofeu-status">
                                

                                <div class="item-trofeu-icon">
                                    <img src="../../assets/images/img-home-page/trofeu.png">
                                </div>
                                <p>5</p>


                            </div>
                        </div>
                    </div>

                    
                    <div class="rank-item">
                        <div class="item-position">
                            <p>4</p>
                        </div>
                        <div class="item-avatar">
                            <!-- <div class="user-avatar"> -->
                                <img src="../../assets/images/img-home-page/pirata1.png" alt="">
                            <!-- </div> -->
                        </div>
                        <div class="item-name">
                            <p>UserName</p>

                        </div>
                        <div class="item-trofeus">
                            <div class="item-trofeu-status">
                                

                                <div class="item-trofeu-icon">
                                    <img src="../../assets/images/img-home-page/trofeu.png">
                                </div>
                                <p>5</p>


                            </div>
                        </div>
                    </div>

                    


                </div>
            </div>
        </div>


        <div class="navigations-buttons">
            <div class="container-buttons">

                <div class="nav-btn-geral">
                    <div class="nav-bg">
                        <div class="icon-conf" (mouseover)="playSoundSelecao()">
                            <p>Configurar</p>
                            <img src="../../assets/images/img-home-page/conf.png" alt="">
                        </div>
                        <div class="icon-inventory" (mouseover)="playSoundSelecao()">
                            <p>Inventário</p>
                            <img src="../../assets/images/img-home-page/inventory.png" alt="">
                        </div>
                        <div class="icon-shop" (mouseover)="playSoundSelecao()" (click)="fnOpen()">
                            <p>Shop</p>
                            <img src="../../assets/images/img-home-page/shop.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="nav-btn-play">
                    <button (mouseover)="playSoundBtnBatalha()">
                        <div>Batalhar!</div>
                    </button>
                </div>

            </div>
        </div>


    </div>
</div>


<div class="popups" [ngClass]="open? 'popup--visible': ''">
    <div class="bg-popups" >
        <div class="popup-content" >
            <button (click)="this.open = false">sair</button>

            <div class="popup-shop">
                ...

                <div class="popup-shop-guias">
                    <!-- essas guias vai vir do banco de dados -->
                    <div class="selected">
                        <p>Coins</p>
                    </div>
                    <div class="guia2">
                        <p>Diamonds</p>
                    </div>
                </div>
                <div class="popup-shop-screm1">
                    ..
                </div>
            </div>

        </div>
    </div>
</div>


