<h2 id="msgAviso"></h2>
<div class="body-main">

    <aside class="sidebar" [class.active]="open === true">
        <div class="collections-title" >
            <!-- <h1>Tela admin</h1> -->
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                  </svg>
            </div>

            <p>Super User</p>
        </div>

        <div class="collections-itens">

            <div class="collections-item" (click)="fnShow('Categorias')" [class.selected]="categoriaSelected === true">

                <div class="item-icon">
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                        <path
                            d="M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3" />
                        <path
                            d="M1.293 7.793A1 1 0 0 1 1 7.086V2a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l.043-.043z" />
                    </svg> -->

                    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-tags" viewBox="0 0 16 16">
                        <path d="M3 2v4.586l7 7L14.586 9l-7-7zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586z"/>
                        <path d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3M1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1z"/>
                      </svg>
                </div>

                <p>Categorias</p>

            </div>

            <div class="collections-item" (click)="fnShow('Itens')" [class.selected]="itemSelected === true">

                <div class="item-icon">
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                        <path
                            d="m14.12 10.163 1.715.858c.22.11.22.424 0 .534L8.267 15.34a.6.6 0 0 1-.534 0L.165 11.555a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.66zM7.733.063a.6.6 0 0 1 .534 0l7.568 3.784a.3.3 0 0 1 0 .535L8.267 8.165a.6.6 0 0 1-.534 0L.165 4.382a.299.299 0 0 1 0-.535z" />
                        <path
                            d="m14.12 6.576 1.715.858c.22.11.22.424 0 .534l-7.568 3.784a.6.6 0 0 1-.534 0L.165 7.968a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0z" />
                    </svg> -->

                    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-subtract" viewBox="0 0 16 16">
                        <path d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
                      </svg>
                   
                </div>

                <p>Itens</p>

            </div>

        </div>

        <!-- <div class="collections-add">
            <p>Adicionar coleção</p>
            <div id="btnModalColl">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-plus" viewBox="0 0 16 16">
                    <path
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
            </div>
        </div> -->


    </aside>


    <main class="main">
        <div class="coll-icon" id="toggleBtn" (click)="fnOpen()" [class.close]="open === true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
            </svg>
        </div>


        <div class="main-content">

            <!-- tarefas -->


            <div class="main-itens" id="main">


                <div class="coll-infos">

                    <div class="coll-title">
                        <h1 id="nomeColecao">Categoria</h1>

                    </div>


                    <div class="new-itens">
                        <div id="btnModalTask" (click)="fnOpenModal()">
                            <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-plus" viewBox="0 0 16 16">
                                <path
                                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                            </svg>
                        </div>
                        <p id="mainP">Adicionar categoria</p>
                    </div>


                </div>


                <div class="coll-itens">
                    <div class="coll-order">
                        <h3 id="mainH">Categorias - 0</h3>

                        <div class="order">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
                            </svg>
                            <div>
                                <h5>Ordernar - </h5>
                                <button id="btnOrdenaData" class="clicked">Data</button>
                                <button id="btnOrdenaPriori">Prioridade</button>
                            </div>
                        </div>

                    </div>



                    <div class="list-itens">


                        <ng-container *ngIf="categoriaSelected === true">
                            <!-- vem do banco *-->
                            <div class="task-body" *ngFor="let cat of dataCategorias">
                                <div class="task-infos">
                                    <h3>{{cat.titulo}}</h3>
                                </div>
                                <div class="icons-alter">
                                    <svg class="btnAlter" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path
                                            d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                    </svg>

                                    <svg class="btnApaga" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
                                        (click)="fnApagaCatg(cat.id)">
                                        <path
                                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                    </svg>
                                </div>
                            </div>

                        </ng-container>

                        <ng-container *ngIf="itemSelected === true">

                            <!-- vem do banco *-->
                            <div class="task-body" *ngFor="let item of dataItens">
                                <div class="task-infos">
                                    <h3>{{item.titulo}}</h3>
                                </div>
                                <div class="task-infos">
                                    <h3>{{item.categoria}}</h3>
                                </div>
                                <div class="icons-alter">
                                    <svg class="btnAlter" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <path
                                            d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                    </svg>

                                    <svg class="btnApaga" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
                                        (click)="fnModalConfirm()">
                                        <path
                                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                    </svg>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>

                <!-- <div class="coll-itens-concluidas">
                    <h3>Tarefas completas - 0</h3>

                    <div class="list-itens">

                    </div>


                </div>

                <div class="msgIncialTarefa" >
                    <h1>Você não tem nenhuma Tarefa</h1>
                </div> -->

            </div>

            <!-- -------  -->
            <h1 id="msgInicial" *ngIf="!categoriaSelected && !itemSelected">Bem <strong style="color: rgb(141, 141, 141)">Vindo(a)</strong></h1>
        </div>
    </main>
</div>


<div class="shadow-modal-catg">
    <div class="modal-catg-form">
        <div class="close-modal-catg" (click)="fnOpenModal()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg>
        </div>
        <h1>Vamos criar uma <br />Categoria?</h1>

        <!-- form coleção -->
        <form [formGroup]="formCategoria">
            <input formControlName="titulo" type="text" name="txtTitulo" id="txtTituloCatg" placeholder="Titulo">

            <select formControlName="categoria" name="txtTipoCatg" id="txtTipoCatg">
                <option style="color: #999999;" value="0" disabled selected>Tipo categoria</option>
                <option style="color: #999999;" value="VESTUARIO">Vestuário</option>
                <option style="color: #999999;" value="MONETARIA">Monetaria</option>
            </select>

            <button (click)="postCategoria()" class="btn" id="btnAddCatg">Criar</button>
        </form>
        <!-- ------------------------------------- -->
    </div>
</div>




<div class="shadow-modal-item">
    <div class="modal-item-form">
        <div class="close-modal-item" (click)="fnOpenModal()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg>
        </div>
        <h1>Crie o seu novo Item</h1>

        <!-- modal item -->
        <form [formGroup]="formItem" id="formItem">
            <div class="img-container">
                <input type="file" id="file" (change)="fnChangeFile($event)" accept="image/*" hidden>
                <div class="img-area" data-img="">
                    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-cloud-arrow-up-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2m2.354 5.146a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0z" />
                    </svg>
                    <h3>Upload Image</h3>
                    <!-- <input type="file" (change)="onFileSelected($event)" accept="image/*"> -->
                    <img *ngIf="imageUrl" [src]="imageUrl" alt="Preview">
                    <!-- <img src="" alt=""> -->
                </div>
                <button class="btn select-image" (click)="fnSelectImage()">
                    Select Image
                </button>
            </div>

            <div class="inputs-container">
                <div class="checkbox-wrapper-2">
                    <p>Ativo</p>
                    <input formControlName="ativo" type="checkbox" class="sc-gJwTLC ikxBAC">
                </div>

                <input formControlName="nome" type="text" name="txtTituloItem" id="txtTituloItem" placeholder="Titulo">
                <div class="selects-ctn">
                    <label for="txtCatg">
                        <select formControlName="categoriaId" name="txtCatg" id="txtCatg">
                            <option style="color: #999999;" value="0" disabled selected>Categoria</option>
                            <option *ngFor="let cat of dataCategorias" [value]="cat.id">{{cat.titulo}}</option>
                        </select>
                    </label>
                    <label for="txtCatg">
                        <select formControlName="tipoPagamento" name="txtCatg" id="txtCatg">
                            <option style="color: #999999;" value="0" disabled selected>Tipo de pagamento</option>
                            <option value="MOEDA">Moeda</option>
                            <option value="DIAMANTE">Diamante</option>
                            <option value="DINHEIRO">Dinheiro</option>
                        </select>
                    </label>
                    <!-- <input type="date" name="txtData" id="txtData" placeholder="Pra quando?"> -->
                </div>
                <input formControlName="valor" currencyMask  [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',' }"/>
                

                <textarea formControlName="descricao" name="txtDesc" id="txtDesc" row="200" placeholder="Descrição"></textarea>
                <button (click)="postItem()" class="btn" id="btnAddItem">Criar</button>
            </div>
        </form>

        <!-- ----------- -->
    </div>
</div>

<div class="shadow-modal-confirm">
    <div class="modal-confirm">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
            <path
                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </svg>
        <h1>Tem certeza?</h1>
        <p>Deseja realmente excluir esse item?</p>
        <div>
            <input type="hidden" id="txtQual">
            <button class="btn no" id="btnCloseModalCofirm" (click)="fnModalConfirm()">Não</button>
            <button class="btn" id="btnApagaObj">Sim, quero excluir</button>
        </div>
    </div>
</div>